.article {

	@media (max-width: 767.98px) {
		margin-top: 8px;
	}

	// .article__wrapper
	&__wrapper {
		width: 822px;
		margin: 0 auto 0 auto;

		@media (max-width: 1023.98px) {
			width: 100%;
		}
	}

	// .article__title
	&__title {
		font-family: "Vityaz";
		font-size: 36px;
		font-weight: 400;
		line-height: 43px;
		text-align: center;
		margin-bottom: 0;

		&--desktop {
			@media (max-width: 767.98px) {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@media (max-width: 767.98px) {
				margin-top: 23px;
				display: block;
				font-size: 25px;
				line-height: 30px;
			}
		}
	}

	// .article__headline
	&__headline {
		position: relative;
		margin-top: 8px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;

		@media (max-width: 767.98px) {
			font-size: 14px;
			line-height: 22px;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -1px;
			background-size: contain;
			background-repeat: repeat-x;

			@media (max-width: 767.98px) {
				bottom: -25px;
			}
		}
	}

	// .article__button-wrapper
	&__button-wrapper {
		margin: 63px 0 30px 0;
		padding-bottom: 20px;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #f2f2f2;

		@media (max-width: 767.98px) {
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: 45px -4px 14px -4px;
			border-bottom: none;
			padding-bottom: 10px;
		}
	}

	// .article__button
	&__button {
		min-width: 50px;
		min-height: 25px;
		margin: 0 4px;
		padding: 4px 8px 4px 8px;
		color: #828282;
		font-size: 12px;
		font-weight: 400;
		line-height: 17px;
		text-align: center;
		border: none;
		border-radius: 4px;

		@media (max-width: 767.98px) {
			margin: 3px 4px;
			font-size: 11px;
			padding: 4px 7px 4px 7px;
		}
	}

	// .article__text
	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;

		@media (max-width: 767.98px) {
			font-size: 14px;
			line-height: 22px;
			margin-top: 0;
		}

		&--two {
			margin-top: 27px;
		}

		&--desktop {
			@media (max-width: 767.98px) {
				display: none;
			}
		}

		&--mobile {
			display: none;
			@media (max-width: 767.98px) {
				display: block;
			}
		}
	}

	// .article__bg
	&__bg {
		margin: 30px 0 55px 0;
		background-image: url(../img/image/about-us-bg-crop.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 816px;
		height: 344px;

		@media (max-width: 1023.98px) {
			width: 100%;
			height: 43vw;
			margin-bottom: 10px;
		}
	}

	// .article__title-two
	&__title-two {
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;

		@media (max-width: 767.98px) {
			margin-bottom: 6px;
		}
	}
}
