.blog-product {
	margin-top: 45px;
	padding-top: 22px;
	border-top: 1px solid #f2f2f2;

	@media (max-width: 767.98px) {
		margin-top: 29px;
		padding-top: 14px;
	}
	// .blog-product__title

	&__title {
		position: relative;
		font-family: "Vityaz";
		font-size: 36px;
		font-weight: 400;
		line-height: 43px;
		text-align: center;

		@media (max-width: 767.98px) {
			font-size: 25px;
			line-height: 30px;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -34px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -1px;
			background-size: contain;
			background-repeat: repeat-x;

			@media (max-width: 767.98px) {
				bottom: -25px;
			}
		}
	}

	// .blog-product__info
	&__info {
		width: 822px;
		margin: 0 auto 0 auto;
		padding-bottom: 17px;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			margin-top: 40px;
			padding-bottom: 1px;
		}
	}

	// .blog-product__title-three
	&__title-three {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;
	}

	// .blog-product__text
	&__text {
		margin-bottom: 25px;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
	}

	// .blog-product__citata-wrapper
	&__citata-wrapper {
		margin: 45px 0 56px 0;
		width: 819px;
		min-height: 213px;
		border-radius: 4px;
		padding: 14px 32px 17px 32px;
		background-color: #f2f2f2;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			margin: 24px 0 53px 0;
			padding: 8px 30px 8px 20px;
		}
	}

	// .blog-product__citata
	&__citata {
		position: relative;
		margin-left: 26px;
		font-size: 18px;
		font-weight: 600;
		line-height: 25px;

		@media (max-width: 767.98px) {
			font-size: 16px;
			line-height: 22px;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 6px;
			left: -26px;
			width: 16px;
			height: 16px;
			background-image: url(../img/icon/kavichki.svg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	// .blog-product__citata-text
	&__citata-text {
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		line-height: 26px;

		@media (max-width: 767.98px) {
			line-height: 24px;
			letter-spacing: -0.4px;
		}
	}

	// .blog-product__link-wrapper
	&__link-wrapper {
		width: 822px;
		margin: 0 auto 0 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			justify-content: space-between;
		}
	}

	// .blog-product__link
	&__link {
		margin-right: 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}

	// .blog-product__icon-wrapper
	&__icon-wrapper {
		margin: 0 5px 0 9px;
		cursor: pointer;
	}

	// .blog-product__icon
	&__icon {
		max-width: 20px;
		max-height: 20px;
		object-fit: contain;

		@media (max-width: 767.98px) {
			max-width: 24px;
			max-height: 24px;
			object-fit: cover;
		}
	}
}
