.answer {
    width: 850px;
    margin: 0 auto;
    padding-left: 15px;
    padding-bottom: 32px;

    @media (max-width: 1023.98px) {
        width: 100%;
    }

    @media (max-width: 767.98px) {
        padding-left: 0;
    }
    // .answer__title

    &__title {
        margin-top: 58px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 25px;
            margin-top: 33px;
            margin-bottom: 20px;
        }
    }

    // .answer__image-text

    &__image-text {
        display: flex;
        align-items: center;

        @media (max-width: 767.98px) {
            margin-top: 15px;
        }
    }

    // .answer__image-wrapper

    &__image-wrapper {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px 0 5px;
    }

    // .answer__image

    &__image {
        width: 20px;
        height: 20px;
        padding: 0;
    }

    // .answer__text

    &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        color: #212121;

        @media (max-width: 767.98px) {
            margin-top: 20px;
        }
    }

    // .answer__headline

    &__headline {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #212121;
        margin: 21px 0 14px 0px;

        @media (max-width: 767.98px) {
            font-size: 14px;
            line-height: 19px;
            margin: 25px 0 20px 0px;
        }
    }

    // .answer__info

    &__info {
        margin-bottom: 46px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        border-bottom: 1px solid #f2f2f2;

        @media (max-width: 767.98px) {
            padding-bottom: 15px;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 20px;
            }
        }
    }
}
