.contacts-questions {
    width: 886px;
    min-height: 157px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 32px;
    background-color: #f2f2f2;

    @media (max-width: 1023.98px) {
        width: 100%;
    }

    @media (max-width: 767.98px) {
        padding: 19px;
    }

    // .contacts-questions__title

    &__title {
        margin: 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        color: #212121;

        @media (max-width: 767.98px) {
            font-size: 14px;
            line-height: 19px;
        }
    }

    // .contacts-questions__text

    &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: #212121;
        margin-top: 11px;
        margin-bottom: 3px;

        @media (max-width: 767.98px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    // .contacts-questions__flex

    &__flex {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    // .contacts-questions__link

    &__link {
        margin: 5px 18px 0 18px;
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767.98px) {
            margin: 10px 14px 0 18px;
        }
    }

    // .contacts-questions__icon-wrapper

    &__icon-wrapper {
        width: 20px;
        height: 20px;
    }

    // .contacts-questions__icon

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &--call {
            display: inline-flex;
            width: 16px;
            height: 16px;
            cursor: pointer;
            position: relative;
            top: 1px;
            right: 2px;
        }

        &--phone {
            display: inline-flex;
            width: 17px;
            height: 15px;
            cursor: pointer;
            position: relative;
            top: 2px;
            right: 5px;
        }

        &--mail {
            position: relative;
            top: 0px;
            right: 6px;
            display: inline-flex;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}
