.connection {
	width: 819px;
	margin: 101px auto 145px auto;

	@media (max-width: 1023.98px) {
		width: 100%;
	}

	@media (max-width: 767.98px) {
		margin-top: 58px;
		margin-bottom: 90px;
	}

	// .connection__title

	&__title {
		position: relative;
		font-family: "Vityaz";
		font-size: 36px;
		font-weight: 400;
		line-height: 43px;
		text-align: center;
		color: #212121;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -30px;
			left: 50%;
			width: 156px;
			height: 17px;
			transform: translateX(-50%);
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -1px;
			background-size: contain;
			background-repeat: repeat-x;

			@media (max-width: 767.98px) {
				bottom: -25px;
				left: 47%;
				transform: translateX(-47%);
			}
		}

		@media (max-width: 767.98px) {
			font-size: 25px;
			line-height: 30px;
			text-indent: 0em;
		}
	}
}

.contacts {
	.connection {
		margin: 101px auto 140px auto;
		width: 501px;

		@media (max-width: 1359.98px) {
			width: 420px;
		}

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			margin: 50px auto 90px auto;
		}

		// .connection__title
		&__title {
			position: relative;
			text-align: left;
			text-indent: 0em;

			@media (max-width: 767.98px) {
				text-align: center;
			}

			&::after {
				left: 0;
				transform: none;

				@media (max-width: 767.98px) {
					bottom: -26px;
					left: 49%;
					transform: translateX(-51%);
				}
			}
		}

		// .connection__form
		&__form {
			width: 100%;
		}

		// .connection__wrapper
		&__wrapper {
			@media (max-width: 1023.98px) {
				width: 100%;
			}

			@media (max-width: 767.98px) {
				margin-top: 55px;
			}
		}
	}
}
