.form-connection {
	margin-top: 89px;

	// .form-connection__wrapper
	@media (max-width: 767.98px) {
		margin-top: 34px;
	}

	&__wrapper {
		margin-bottom: 28px;
	}

	// .form-connection__flex-wrapper
	&__flex-wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	// .form-connection__name
	&__name {
		width: 392px;
		height: 40px;
		border-radius: 2px;
		border: 1px solid #f2f2f2;
		padding: 10px 5px 10px 16px;

		@media (max-width: 1023.98px) {
			width: 48%;
		}

		@media (max-width: 767.98px) {
			width: 100%;
			margin: 19px 0;
		}

		&::placeholder {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0em;
			color: #828282;
		}
	}

	// .form-connection__email

	&__email {
		width: 392px;
		height: 40px;
		border-radius: 2px;
		border: 1px solid #f2f2f2;
		padding: 10px 5px 10px 16px;

		@media (max-width: 1023.98px) {
			width: 48%;
		}

		@media (max-width: 767.98px) {
			width: 100%;
		}

		&::placeholder {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0em;
			color: #828282;
		}
	}

	// .form-connection__message

	&__message {
		width: 819px;
		height: 100px;
		border-radius: 2px;
		border: 1px solid #f2f2f2;
		padding: 10px 5px 10px 16px;
		resize: none;
		margin-top: 16px;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		&::placeholder {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0em;
			color: #828282;
		}
	}

	// .form-connection__cod

	&__cod {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		color: #212121;
		margin-top: 24px;
		margin-bottom: 7px;

		@media (max-width: 767.98px) {
			margin-top: 15px;
			text-indent: 8px;
		}
	}

	// .form-connection__kapcha

	&__kapcha {
		width: 150px;
		height: 35px;
		margin-right: 16px;
	}

	// .form-connection__input

	&__input {
		width: 117px;
		height: 35px;
		border-radius: 2px;
		border: 1px solid #f2f2f2;

		@media (max-width: 767.98px) {
			width: 107px;
		}
	}

	// .form-connection__submit-wrapper
	&__submit-wrapper {
		display: flex;
		align-items: center;

		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .form-connection__mobile
	&__mobile {
		display: flex;
		@media (max-width: 1023.98px) { margin-bottom: 0; }
		@media (max-width: 767.98px) { margin-bottom: 30px; }
	}

	// .form-connection__submit
	&__submit {
		position: relative;
		width: 178px;
		min-height: 46px;
		margin-left: 35px;
		padding: 10px 24px;
		border: none;
		background-color: #941704;
		box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		border-radius: 4px;
		font-size: 15px;
		font-weight: 600;
		line-height: 26px;
		color: #fff;
		text-align: right;
		cursor: pointer;

		@media (max-width: 767.98px) {
			display: block;
			width: 100%;
			margin-left: 0px;
			text-align: center;
		}

		&:hover {
			transition: background-color 0.3s;
			background-color: #ad1b05;
			box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
		}

		&::before {
			position: absolute;
			content: "";
			display: block;
			top: 50%;
			left: 23px;
			transform: translateY(-50%);
			width: 35px;
			height: 12px;
			background: 0 0/34.48px 11px url(../img/icon/arrow-white.svg) no-repeat;

			@media (max-width: 767.98px) {
				left: 50%;
				transform: translate(-90px, -50%);
			}
		}

	}
}

.contacts {
	.form-connection {

		// .form-connection__flex-wrapper
		&__flex-wrapper {
			display: flex;
			flex-direction: column;
		}

		// .form-connection__name
		&__name {
			width: 100%;
			margin: 0 0 8px 0;
		}

		// .form-connection__email
		&__email {
			width: 100%;
			margin: 8px 0;
		}

		// .form-connection__message
		&__message {
			width: 100%;
			margin: 8px 0 0 0;
		}

		// .form-connection__mobile
		&__mobile {
			@media (max-width: 1359.98px) { margin-bottom: 30px; }
			@media (max-width: 1023.98px) { margin-bottom: 0; }
			@media (max-width: 767.98px) { margin-bottom: 30px; }
		}

		// .form-connection__cod
		&__cod {
			margin-top: 26px;

			@media (max-width: 767.98px) {
				margin-top: 18px;
			}
		}

		// .form-connection__submit-wrapper
		&__submit-wrapper {
			@media (max-width: 1359.98px) {
				flex-direction: column;
				align-items: flex-start;
			}

			@media (max-width: 1023.98px) {
				flex-direction: row;
				align-items: center;
			}

			@media (max-width: 767.98px) {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		// .form-connection__submit
		&__submit {
			margin-left: 39px;

			@media (max-width: 1359.98px) { margin-left: 0; }
			@media (max-width: 1023.98px) { margin-left: 25px; }
			@media (max-width: 767.98px) { margin-left: 0; }
		}
	}
}
