.popular-questions {
    width: 844px;
    margin: 0 auto;
    padding-left: 10px;

    @media (max-width: 1023.98px) {
        width: 100%;
    }

    @media (max-width: 767.98px) {
        padding-left: 0;
    }

    // .popular-questions__title

    &__title {
        margin: 35px 0 0 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 38px;

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 25px;
            margin: 31px 0 21px 0;
        }
    }


    // .popular-questions__block

    &__block {
        margin-top: 30px;
        border-bottom: 1px solid #f2f2f2;

        @media (max-width: 767.98px) {
            margin-top: 9px;
            margin-bottom: 33px;
        }
    }

    // .popular-questions__img-text

    &__img-text {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    // .popular-questions__image-wrapper

    &__image-wrapper {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 17px 0 4px;
    }

    // .popular-questions__image

    &__image {
        width: 20px;
        height: 20px;
        padding: 0;
    }

    // .popular-questions__text

    &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        color: #212121;
    }

    // .popular-questions__link

    &__link {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        color: #212121;
        text-decoration: underline;
    }

    // .popular-questions__list

    &__list {
        padding: 0;

        @media (max-width: 767.98px) {
            margin-top: 18px;
        }
    }

    // .popular-questions__item

    &__item {
        padding-bottom: 16px;
    }
}
