.questions {
	// .questions__title

	&__title {
		margin: 23px 0 0 0;
		font-family: "Vityaz";
		font-size: 36px;
		font-weight: 400;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: center;
		color: #212121;

		@media (max-width: 767.98px) {
			font-size: 25px;
			line-height: 30px;
			margin: 23px 0 0 0;
		}
	}

	// .questions__headline

	&__headline {
		position: relative;
		margin-top: 10px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: center;
		color: #212121;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -34px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -1px;
			background-size: contain;
			background-repeat: repeat-x;

			@media (max-width: 767.98px) {
				bottom: -29px;
				left: -49%;
				transform: translateX(-49%);
			}
		}
	}

	// .questions__search

	&__search {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-top: 89px;

		@media (max-width: 767.98px) {
			margin-top: 59px;
		}
	}

	// .questions__search-input

	&__search-input {
		width: 303px;
		min-height: 34px;
		border-radius: 2px;
		border: 1px solid #f2f2f2;
		padding: 7px 35px 7px 34px;

		&::placeholder {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0em;
			color: #828282;
		}

		@media (max-width: 767.98px) {
			width: 100%;
		}
	}

	// .questions__search-search

	&__search-search {
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 16px;
			height: 16px;
			top: 16px;
			left: 35%;
			transform: translateY(-35%);
			background: 0 0 /16px 16px url(../img/icon/search-black.svg) no-repeat;

			@media (max-width: 1359.98px) {
				top: 14px;
				left: 30%;
				transform: translateY(-30%);
			}

			@media (max-width: 1023.98px) {
				top: 13px;
				left: 24%;
				transform: translateY(-24%);
			}

			@media (max-width: 767.98px) {
				top: 9px;
				left: 2%;
				transform: translateY(-2%);
			}
		}
	}

	// .questions__search-close
	&__search-close {
		background-color: transparent;
		border: none;
		content: "";
		position: absolute;
		display: block;
		width: 24px;
		height: 24px;
		top: 19px;
		left: 56%;
		padding: 0;
		transform: translateY(-56%);
		background: 0 0 /24px 24px url(../img/icon/close-grey.svg) no-repeat;
		cursor: pointer;

		@media (max-width: 1359.98px) {
			left: 58%;
			transform: translateY(-58%);
		}

		@media (max-width: 1023.98px) {
			top: 21px;
			left: 61%;
			transform: translateY(-61%);
		}

		@media (max-width: 767.98px) {
			top: 28px;
			left: 93%;
			transform: translateY(-93%);
		}
	}

	// .questions__search-button

	&__search-button {
		width: 88px;
		height: 36px;
		border: none;
		border-radius: 4px;
		padding: 7px 24px 7px 24px;
		background-color: #941704;
		box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
		cursor: pointer;

		&:hover {
			transition: background-color 0.3s;
			background-color: #ad1b05;
			box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}
}
