.card-product {
	// .card-product__category
	&__category {
		display: flex;
		margin: 0 -17px 0 -16px;

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .card-product__category-button
	&__category-button {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		padding-bottom: 16px;
		margin: 0 17px 0 16px;

		&--active {
			border-bottom: 2px solid #212121;
		}
	}

	// .card-product__flex-wrapper
	&__flex-wrapper {
		display: flex;
		justify-content: space-between;
		min-width: 0;

		@media (max-width: 1359.98px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// .card-product__slider
	&__slider {
		min-width: 0;
	}

	// .card-product__info
	&__info {
		margin-top: 51px;
		min-width: 0;
		width: 610px;

		@media (max-width: 1359.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			margin-top: 4px;
		}
	}

	// .card-product__title
	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;
		margin-bottom: 12px;

		@media (max-width: 767.98px) {
			font-size: 18px;
			line-height: 25px;
		}
	}

	// .card-product__button-wrapper
	&__button-wrapper {
		display: flex;
		align-items: center;

		@media (max-width: 767.98px) {
			margin-top: 17px;
		}
	}

	// .card-product__button-yes
	&__button-yes {
		position: relative;
		width: 184px;
		height: 34px;
		border-radius: 4px;
		padding: 4px 24px 4px 24px;
		background-color: #f2f9f5;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: #00983e;
		border: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&::before {
			position: absolute;
			display: block;
			content: "";
			top: 8px;
			left: 22px;
			width: 18px;
			height: 18px;
			padding: 0;
			background: 0 0/18px 18px url(../img/icon/green-check.svg) no-repeat;
			cursor: pointer;
		}
	}

	// .card-product__button-no
	&__button-no {
		width: 158px;
		height: 34px;
		border-radius: 4px;
		background-color: #c4c4c4;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: #ffffff;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 23px;

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .card-product__flex-block
	&__flex-block {
		display: flex;
		align-items: center;
		margin-top: 30px;
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	// .card-product__button-gr
	&__button-gr {
		margin: 0 -2px;
		display: flex;
		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .card-product__gr
	&__gr {
		margin: 0 2px;
		width: 50px;
		height: 33px;
		border-radius: 4px;
		padding: 8px;
		font-size: 12px;
		font-weight: 400;
		line-height: 17px;
		text-align: center;
		color: #828282;
		background-color: #f2f2f2;
		border: none;
		transition: background-color 0.3s;

		&:hover {
			background-color: #e0e0e0;
		}
	}

	// .card-product__price
	&__price {
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;

		@media (max-width: 767.98px) {
			margin-bottom: 28px;
		}
	}

	// .card-product__price-quantity
	&__price-quantity {
		margin-left: 20px;
		margin-right: 24px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 767.98px) {
			margin: 0;
		}
	}

	// .card-product__quantity-wrapper
	&__quantity-wrapper {
		margin-left: 50px;
		width: 122px;
		min-height: 46px;
		border: 1px solid #f2f2f2;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 767.98px) {
			margin-left: 37px;
		}
	}

	// .card-product__quantity-button
	&__quantity-button {
		padding: 0;
		width: 24px;
		height: 24px;
		background-color: #f2f2f2;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		border: none;
		transition: color 0.3s, background-color 0.3s;

		&:hover {
			background-color: #212121;
			color: #ffffff;
		}
	}

	// .card-product__quantity-input
	&__quantity-input {
		width: 24px;
		height: 24px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		border: none;
		margin: 0 10px;
	}

	// .card-product__buy-button
	&__buy-button {
		width: 121px;
		height: 46px;
		border-radius: 4px;
		padding: 10px 35px 10px 35px;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		text-align: center;
		color: #ffffff;
		border: none;
		background-color: #941704;
		box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		transition: background-color 0.3s, box-shadow 0.3s;

		&:hover {
			background-color: #ad1b05;
			box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
		}

		@media (max-width: 767.98px) {
			width: 100%;
		}
	}
}

.sale {
	margin-top: 27px;

	@media (max-width: 767.98px) {
		margin-top: 58px;
	}

	// .sale__text
	&__text {
		margin-bottom: 20px;
		margin-left: 37px;
		position: relative;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;

		@media (max-width: 767.98px) {
			margin: 0 0 18px 32px;
			font-size: 13px;
		}

		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			left: -33px;
			width: 24px;
			height: 24px;
			padding: 0;

			@media (max-width: 767.98px) {
				left: -34px;
			}
		}

		&--procent {
			&::before {
				background: 0 0/24px 24px url(../img/icon/card-product-procent.svg) no-repeat;
			}
		}

		&--podarok {
			&::before {
				background: 0 0/24px 24px url(../img/icon/card-product-podarok.svg) no-repeat;
			}
		}

		&--sale {
			&::before {
				background: 0 0/24px 24px url(../img/icon/card-product-sale.svg) no-repeat;
			}
		}
	}
}

.product-card {
	margin-top: 100px;

	@media (max-width: 767.8px) {
		margin-top: 27px;
	}

	// .product-card__title
	&__title {
		position: relative;
		font-family: "Vityaz";
		font-size: 36px;
		font-weight: 400;
		line-height: 43px;
		text-align: center;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -2px;
			background-size: contain;
			background-repeat: repeat-x;
			transform: translateX(-50%);

			@media (max-width: 767.8px) {
				bottom: -26px;
			}
		}

		@media (max-width: 767.8px) {
			margin: 10px 0;
			font-size: 25px;
			line-height: 120%;
		}
	}

	// .product-card__catalog
	&__catalog {
		margin: 57px 0 75px 0;
	}
}

.page-card-product .catalog .product-body {
	@media (max-width: 767.98px) {
		padding: 0;
	}
}