.characteristics {
	
    // .characteristics__wrapper

    &__wrapper {
        display: flex;
    }

    // .characteristics__name

    &__name {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin: 0px 12px 9px 0;

        @media (max-width: 767.98px) {
            margin: 0px 8px 4px 0;
        }
    }

    // .characteristics__text

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #828282;
        margin-bottom: 9px;
        margin-top: 0px;

        @media (max-width: 767.98px) {
            margin: 0px 0px 4px 0;
        }
    }
}
