.comment {
	margin-top: 66px;

	@media (max-width: 767.98px) {
		margin-top: 43px;
	}

	// .comment__flex-wrapper
	&__flex-wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	// .comment__testimonials
	&__testimonials {
		width: 287px;
		min-height: 54px;
		border-radius: 4px;
		padding: 4px 24px 4px 24px;
		border: 1px solid #e0e0e0;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 1359.98px) {
			margin-right: 80px;
		}

		@media (max-width: 1023.98px) {
			width: 100%;
			margin-right: 0;
		}
	}

	// .comment__line-wrapper
	&__line-wrapper {
		margin-top: 27px;
		width: 287px;
	}

	// .comment__line
	&__line {
		display: flex;
		align-items: center;
	}

	// .comment__rating
	&__rating {
		display: inline-block;
		flex: 0 0 40px;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
	}

	// .comment__line-grey
	&__line-grey {
		display: block;
		position: relative;
		width: 168px;
		height: 6px;
		border-radius: 8px;
		background-color: #f2f2f2;

		@media (max-width: 767.98px) {
			width: 140px;
			margin-right: 40px;
		}

		// .comment__line-grey--50
		&--50 {
			&:after {
				@include pseudo;
				top: 0;
				left: 0;
				width: 84px;
				height: 6px;
				border-radius: 8px;
				background-color: #828282;
			}
		}

	}


	// .comment__reviews
	&__reviews {
		margin-left: auto;

		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: #e0e0e0;
	}

	// .comment__flex-reviews

	&__flex-reviews {
		border-bottom: 1px solid #f2f2f2;

		@media (max-width: 1023.98px) {
			margin-left: 50px;
		}
		@media (max-width: 767.98px) {
			margin: 57px 0 0 0;
		}
	}

	// .comment__list

	&__list {
		width: 821px;
		padding: 0;
		margin: 0;

		@media (max-width: 1359.98px) {
			width: 100%;
		}
	}

	// .comment__item

	&__item {
		margin-bottom: 47px;

		@media (max-width: 767.98px) {
			margin-bottom: 30px;
			border-bottom: 1px solid #e0e0e0;
		}

		&:last-child {
			margin-bottom: 20px;

			@media (max-width: 767.98px) {
				margin-bottom: 0;
			}
		}
	}
}
.item-comment {
	// .item-comment__wrapper

	&__wrapper {
		display: flex;
		align-items: center;
	}

	// .item-comment__user-name

	&__user-name {
		margin: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
	}

	// .item-comment__user-text

	&__user-text {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;

		@media (max-width: 767.98px) {
			margin-bottom: 23px;
		}
	}
}
