.form-reviews {
	display: flex;
	// .form-reviews__input-wrapper

	&__input-wrapper {
		margin-right: 32px;
		width: 288px;
		display: flex;
		flex-direction: column;

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .form-reviews__input

	&__input {
		margin-bottom: 5px;
		width: 100%;
		height: 40px;
		padding: 10px 16px;
		border-radius: 2px;
		background-color: #fff;
		border: none;

		&::placeholder {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #828282;
		}
	}

	// .form-reviews__text-wrapper

	&__text-wrapper {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media (max-width: 767.98px) {
			margin-top: 0;
		}
	}

	// .form-reviews__textarea

	&__textarea {
		width: 607px;
		height: 95px;
		resize: none;
		padding: 10px 16px;
		border-radius: 2px;
		background-color: #fff;
		border: none;

		&::placeholder {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #828282;
		}

		@media (max-width: 1359.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .form-reviews__submit
	&__submit {
		width: 275px;
		min-height: 46px;
		margin-top: 43px;
		padding: 5px 10px;
		border-radius: 4px;
		background-color: #941704;
		box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		border: none;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		text-align: center;
		color: #fff;
		cursor: pointer;
		transition: box-shadow 0.3s, background-color 0.3s;

		&:hover {
			background-color: #ad1b05;
			box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
		}

		@media (max-width: 767.98px) {
			margin-top: 3px;
		}
	}
}
