.info {
    // .info__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
    }
}

.info-product {
    margin-top: 55px;

    @media (max-width: 767.98px) {
        margin-top: 20px;
    }

    // .info-product__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 22px;
        }
    }

    // .info-product__text

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;

        p {
            margin: 10px 0 25px 0px;
        }

        @media (max-width: 767.98px) {
            font-size: 14px;
            line-height: 19px;
        }
    }
}
