.reviews {
	margin-top: 96px;

	@media (max-width: 767.98px) {
		margin-top: 50px;
	}

	// .reviews__title

	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;
		padding: 10px 16px;
		border-radius: 2px;
		background-color: #fff;

		@media (max-width: 767.98px) {
			font-size: 18px;
			line-height: 25px;
		}
	}

	// .reviews__wrapper

	&__wrapper {
		width: 1247px;
		min-height: 276px;
		background-color: #f7f7f7;
		padding: 20px 30px;
		display: flex;
		justify-content: space-between;

		@media (max-width: 1359.98px) {
			width: 100%;
		}

		@media (max-width: 1023.98px) {
			flex-direction: column;
			align-items: center;
		}

		@media (max-width: 767.98px) {
			min-height: 0;
			padding: 0;
			background-color: transparent;
		}
	}

	// .reviews__stars-wrapper

	&__stars-wrapper {
		@media (max-width: 1023.98px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .reviews__text

	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;

		@media (max-width: 1023.98px) {
			margin: 0 25px 0 0;
		}
	}

	// .reviews__form-wrapper

	&__form-wrapper {
		display: flex;

		@media (max-width: 1359.98px) {
			flex-direction: column;
		}
	}

	// .reviews__form-text
	&__form-text {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 12px;
	}
}
