.slider-product {
	margin-top: 51px;
	width: 501px;

	@media (max-width: 767.98px) {
		width: 100%;
		margin-top: 30px;
	}

	// .slider-product__big
	&__big {
		width: 501px;
		margin-bottom: 20px;
	}

	// .slider-product__big-wrapper
	&__big-wrapper {
		width: 501px;
		height: 504px;
		background-color: #f8f8f8;
		cursor: pointer;

		@media (max-width: 767.98px) {
			width: 100%;
			height: 85vw;
			background-color: transparent;
		}
	}

	// .slider-product__big-image
	&__big-image {
		width: 100%;
		height: 100%;
	}

	// .slider-product__min
	&__min {
		margin: 0;

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .slider-product__min-wrapper
	&__min-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 114px;
		margin: 0;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		cursor: pointer;
		opacity: 0.3;
		transition: opacity 0.3s, border-color 0.3s, background-color 0.3s;

		&--video {
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 5;
				min-width: 46px;
				height: 46px;
				padding: 0;
				background: 0 0/46px 46px url(../img/icon/play.svg) no-repeat;
				border: none;
				cursor: pointer;
				border-radius: 50%;

				@media (max-width: 767.98px) {
					top: 42%;
					left: 42%;
				}
			}
		}

		@media (max-width: 767.98px) {
			// width: 242px;
			height: 80vw;
			margin-bottom: 30px;
			border: none;
		}

		&.swiper-slide-thumb-active {
			opacity: 1;
			background-color: #f8f8f8;
			border: 1px solid #e0e0e0;
		}

		&:hover {
			opacity: 1;
			background-color: #f8f8f8;
			border: 1px solid #212121;
		}
	}

	// .slider-product__min-image
	&__min-image {
		width: 101px;
		height: 102px;

		&--video {
			width: 100%;
			height: 100%;
		}

		@media (max-width: 767.98px) {
			width: 100%;
			height: 80vw;
		}
	}
}

.card-product-slider-big__controls-wrapper {
	display: none!important;

	@media (max-width: 767.98px) {
		display: flex!important;
	}
}