.clients-sale {
    margin-top: 38px;
    margin-left: 10px;

    @media (max-width: 767.98px) {
        margin: 0;
    }
    // .clients-sale__title

    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0;
        }
    }

    // .clients-sale__text

    &__text {
        margin-top: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;

        &--mobile {
            @media (max-width: 767.98px) {
                display: none;
            }
        }

        a {
            text-decoration: underline;
        }

        @media (max-width: 767.98px) {
            font-size: 14px;
            line-height: 22px;
            margin-top: 18px;
        }
    }

    // .clients-sale__flex-wrapper

    &__flex-wrapper {
        margin-top: 30px;
        margin-bottom: 26px;
        width: 525px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        @media (max-width: 767.98px) {
            width: 100%;
            margin-top: 16px;
        }
    }

    // .clients-sale__flex-element

    &__flex-element {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 767.98px) {
            width: 86px;
            height: 86px;
        }
    }

    // .clients-sale__price

    &__price {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
    }

    // .clients-sale__sale

    &__sale {
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
        color: #971603;
    }

    // .clients-sale__bg

    &__bg {
        margin-top: 60px;
        margin-bottom: 61px;
        width: 825px;
        min-height: 128px;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1023.98px) {
            width: 100%;
        }

        @media (max-width: 767.98px) {
            margin-top: 32px;
            min-height: 90px;
            padding: 0 15px 0 15px;
        }
    }

    // .clients-sale__title-two

    &__title-two {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;

        span {
            color: #971603;
        }

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 25px;
        }
    }
}
