.clients {
    // .clients__wrapper

    &__wrapper {
        margin: 0 auto;
        width: 844px;

        @media (max-width: 1023.98px) {
            width: 100%;
        }

        @media (max-width: 767.98px) {
            margin-top: 41px;
        }
    }

    // .clients__title

    &__title {
        font-family: "Vityaz";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: center;
        margin: 23px 0 16px 0;

        @media (max-width: 767.98px) {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 8px;
        }
    }

    // .clients__headline

    &__headline {
        position: relative;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 0px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -31px;
            left: 50%;
            width: 156px;
            height: 17px;
            background-image: url(../img/icon/advent-ornament.svg);
            background-position: -2px;
            background-size: contain;
            background-repeat: repeat-x;
            transform: translateX(-50%);

            @media (max-width: 767.98px) {
                bottom: -25px;
                left: 49%;
                transform: translateX(-49%);
            }
        }
    }
}
