.list-clients {
    margin-top: 72px;
    padding-bottom: 44px;
    border-bottom: 1px solid #f2f2f2;

    @media (max-width: 767.98px) {
        margin-top: 55px;
        padding-bottom: 22px;
    }

    // .list-clients__title

    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        text-indent: 10px;

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 25px;
            text-indent: 0px;
        }
    }

    // .list-clients__list

    &__list {
        padding: 0;
        list-style: none;
        counter-reset: number-counter;
    }

    // .list-clients__item

    &__item {
        position: relative;
        padding-left: 40px;
        &:before {
            content: counter(number-counter);
            counter-increment: number-counter;
            position: absolute;
            top: 3px;
            left: 10px;

            @media (max-width: 767.98px) {
                left: 2px;
            }            
        }
        
        @media (max-width: 767.98px) {
            padding-left: 25px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;

            @media (max-width: 767.98px) {
                font-size: 14px;
                line-height: 21px;
                margin-bottom: 0px;
                margin-top: 13px;
            }
        }

        
    }
}
