.our-partners {
    margin-top: 112px;

    @media (max-width: 767.98px) {
        margin-top: 56px;
    }
    // .our-partners__title

    &__title {
        position: relative;
        font-family: "Vityaz";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: center;

        &--desktop {
            @media (max-width: 767.98px) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            @media (max-width: 767.98px) {
                display: block;
            }
        }

        @media (max-width: 767.98px) {
            font-size: 25px;
            line-height: 30px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -33px;
            left: 50%;
            transform: translateX(-50%);
            width: 156px;
            height: 17px;
            background-image: url(../img/icon/advent-ornament.svg);
            background-position: -1px;
            background-size: contain;
            background-repeat: repeat-x;

            @media (max-width: 767.98px) {
                bottom: -25px;
                left: 47%;
                transform: translateX(-47%);
            }
        }
    }

    // .our-partners__list

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -42px;
        margin-top: 90px;
        margin-bottom: 145px;

        @media (max-width: 1359.98px) {
            justify-content: flex-start;
            margin: 90px -30px 145px -30px;
        }

        @media (max-width: 1023.98px) {
            justify-content: center;
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
            margin: 53px 0px 39px 0px;
        }
    }

    // .our-partners__item

    &__item {
        width: 248px;
        min-height: 420px;
        margin: 0 42px;

        @media (max-width: 1359.98px) {
            margin: 0 30px;
        }

        @media (max-width: 767.98px) {
            margin: 0;
        }

        &:nth-child(-n + 4) {
            margin-bottom: 61px;

            @media (max-width: 767.98px) {
                margin-bottom: 12px;
            }
        }

        @media (max-width: 767.98px) {

            &:nth-child(n+4) {
                margin-top: 13px;
                margin-bottom: 12px;
            }
        }
        
    }

    // .our-partners__image-wrapper

    &__image-wrapper {
        width: 250px;
        height: 240px;
        margin-bottom: 26px;
    }

    // .our-partners__image

    &__image {
        width: 100%;
        height: 100%;
    }

    // .our-partners__headline

    &__headline {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
    }

    // .our-partners__adress-wrapper

    &__adress-wrapper {
    }

    // .our-partners__adress

    &__adress {
        margin-bottom: 5px;
    }

    // .our-partners__map-wrapper

    &__map-wrapper {
        display: flex;
        align-items: center;
    }

    // .our-partners__street

    &__street {
        margin-left: 9px;
        margin-bottom: 8px;
    }

    // .our-partners__call-wrapper

    &__call-wrapper {
        display: flex;
        align-items: center;
    }

    // .our-partners__phone

    &__phone {
        margin-left: 9px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    // .our-partners__mail-wrapper

    &__mail-wrapper {
    }

    // .our-partners__mail-icon-wrapper

    &__mail-icon-wrapper {
        display: flex;
        align-items: center;
    }

    // .our-partners__mail-icon

    &__mail-icon {
        position: relative;
        top: 5px;
    }

    // .our-partners__mail

    &__mail {
        margin-left: 9px;
        margin-top: 7px;
        margin-bottom: 0px;
    }

    // .our-partners__work

    &__work {
        margin-left: 9px;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    // .our-partners__time-wrapper

    &__time-wrapper {
        display: flex;
        align-items: center;
    }

    // .our-partners__time

    &__time {
    }
}
