.swiper-pagination-bullets {
	display: flex;
	justify-content: center;
}

.swiper-pagination-bullet {
	margin: 0 7px!important;
	padding: 0;
	font-size: 0;
	width: 8px;
	height: 8px;
	text-shadow: none;
	background: #e0e0e0;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;
	opacity: 1;

	&-active {
		background: #212121;
	}

	&:hover {
		background: #971603;
	}
}

.scroll-list__item {
	&.swiper-slide {
		svg path {
			transition: fill 0.3s;
		}

		&:hover {
			svg path {
				fill: #e0e0e0;
			}
		}

		&._active {
			svg path {
			 	fill: #971603;
			}
		}
	}
}