.big-slider {

	// .big-slider__list
	&__list {
		margin-top: 32px;
		margin-left: 25px;
		padding: 0;

		@media (max-width: 767.98px) {
			margin-top: 0;
		}
	}

	// .big-slider__item
	&__item {
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -30px;
			width: 24px;
			height: 24px;
			background-image: url(../img/icon/romb-red.svg);
			background-position: center;
			background-repeat: no-repeat;

			@media (max-width: 767.98px) {
				top: 10px;
			}
		}

		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0em;

			@media (max-width: 767.98px) {
				font-size: 14px;
				line-height: 19px;
				margin: 10px 0 18px 0;
			}
		}
	}


	// .big-slider__image-wrapper
	&__image-wrapper {
		height: 672px;

		@media (max-width: 1359.98px) {
			height: 600px;
		}

		@media (max-width: 1023.98px) {
			height: 118.75vw;
		}
	}

	// .big-slider__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;
		border-radius: 4px;
	}

	// .big-slider__body
	&__body {
		display: none;
		margin: 55px 0 25px 0;

		@media (max-width: 1359.98px) {
			order: 3;
		}

		@media (max-width: 1023.98px) {
			margin: 0 0 14px 0;
		}

		h3 {
			position: relative;
			font-family: "Vityaz";
			font-size: 36px;
			font-style: normal;
			font-weight: 400;
			line-height: 43px;
			letter-spacing: 0em;
			text-align: left;

			@media (max-width: 1359.98px) {
				font-size: 33px;
				line-height: 39px;
			}

			@media (max-width: 767.98px) {
				font-size: 25px;
				line-height: 30px;
				text-align: center;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -31px;
				left: 0;
				width: 156px;
				height: 17px;
				background-image: url(../img/icon/advent-ornament.svg);
				background-position: -1px;
				background-size: contain;
				background-repeat: repeat-x;

				@media (max-width: 767.98px) {
					bottom: -26px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}

		div {
			padding-top: 39px;

			@media (max-width: 1359.98px) { padding-top: 19px; }
			@media (max-width: 767.98px) { margin-top: 9px; }

			p {
				font-size: 16px;
				font-weight: 400;
				line-height: 26px;

				@media (max-width: 1359.98px) {
					font-size: 13px;
					line-height: 20px;
				}

				@media (max-width: 767.98px) {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}

		a {
			position: relative;
			padding-left: 60px;
			text-decoration: none;
			font-size: 16px;
			line-height: 26px;
			font-weight: 600;
			letter-spacing: 0em;
			transition: color 0.3s;

			&:hover {
				color: #971603;
			}

			@media (max-width: 1359.98px) {
				font-size: 13px;
				line-height: 20px;
				padding-left: 47px;
			}

			@media (max-width: 1023.98px) {
				order: 4;
			}

			@media (max-width: 767.98px) {
				font-size: 16px;
				line-height: 26px;
				padding-left: 60px;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 60px;
				height: 11px;
				background: 0 0/35.48px 11px url(../img/icon/arrow-red.svg) no-repeat;

				@media (max-width: 1359.98px) {
					left: 0;
					width: 44px;
				}
			}
		}
	}


}

.main-slider__slide-content .big-slider__body {
	display: block;
}

.page-about-us {

	// .big-slider__body
	.big-slider__body {
		margin: 50px 0 25px 0;
		width: 603px;

		@media (max-width: 1359.98px) {
			width: 420px;
		}

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			margin: 13px 0 36px 0;
		}

		h3 {
			font-family: "ProximaNova";
			font-size: 24px;
			font-weight: 600;
			line-height: 34px;
			letter-spacing: 0em;

			@media (max-width: 767.98px) {
				margin: 0;
				font-size: 18px;
				line-height: 25px;
				text-align: left;
			}

			&::after {
				display: none;
			}
		}
	}

}