.breadcrumbs {
	margin: 8px 0;
	padding-left: 150px;

	@media (max-width: 1023.98px) {
		padding-left: 0;
	}

	// .breadcrumbs__item
	&__item {
		display: inline;
		padding: 0 2px;

		&:not(:last-child)::after {
			content: "/";
			width: 1px;
			height: 8px;
			color: #e0e0e0;
		}
	}

	// .breadcrumbs__link
	&__link {
		font-size: 12px;
		font-weight: 400;
		line-height: 17px;
		color: #e0e0e0;

		&--active {
			color: #212121;
		}
	}
}

.page-card-product {
	.breadcrumbs {
		margin-bottom: 60px;

		@media (max-width: 767.98px) {
			margin-bottom: 30px;
		}
	}
}

.page-catalog .breadcrumbs {
	@media (max-width: 1023.98px) {
		margin-bottom: 20px;
	}
}