.catalog {
	margin: 68px 0 70px 0;

	@media (max-width: 767.98px) {
		margin: 0;
	}

	// .catalog__title
	&__title {
		position: relative;
		margin: 30px 0 10px 0;
		font-family: "Vityaz";
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		letter-spacing: 0;
		text-align: center;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -2px;
			background-size: contain;
			background-repeat: repeat-x;
			transform: translateX(-50%);
		}

		@media (max-width: 767.8px) {
			margin: 10px 0;
			font-size: 25px;
			line-height: 120%;
		}
	}

	// .catalog__all-container
	&__all-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}

	// .catalog__switcher-wrapper
	&__switcher-wrapper {
		display: flex;
		justify-content: space-between;
		width: 70px;
	}

	// .catalog__switcher
	&__switcher {
		width: 24px;
		height: 24px;
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: none;
		font-size: 0;
		cursor: pointer;

		svg path {
			transition: fill 0.3s;
		}

		&:hover,
		&.js-active {
			svg path {
				fill: #212121;
			}
		}
	}

	// .catalog__all-link
	&__all-link {
		display: inline-block;
		position: relative;
		padding-left: 60px;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 600;
		color: #212121;
		transition: color 0.3s;

		&:before {
			@include pseudo;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 40px;
			height: 11px;
			background: url(../img/icon/arrow-red.svg) no-repeat left top;
		}

		&:hover {
			color: #941704;
		}
	}

	// .catalog__catalog-container
	&__catalog-container {
		width: 100%;
		order: 2;
	}

	// .catalog__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		margin: 0 -16px 42px -16px;
		padding: 0;
	}

	// .catalog__item
	&__item {
		flex: 0 0 33.333%;
		padding: 3px 16px;
	}

	.line-delimeter {
		order: 5;
	}
} /* .catalog */


.main-page,
.article,
.page-card-product {
	.catalog {
		// .catalog__list
		&__list {
			margin: 25px -10px 45px -10px;

			@media (max-width: 1023.98px) {
				margin: 0 -15px 45px -15px;
			}

			//
			// Горизонтальное представление каталога
			//
			&--horizontal {
				margin-top: 30px;

				.catalog__item {
					flex-basis: 50%;
					padding: 12px 20px;

					@media (max-width: 1023.98px) {
						flex-basis: 100%;
					}
				}

				.product-body {
					flex-direction: row;
					padding: 35px 20px 35px 10px;

					@media (max-width: 1359.98px) {
						padding: 20px 15px 20px 10px;

						&--no {
							&:hover {
								.product-body__price {
									display: none;
								}
								.product-body__buy {
									width: 100%;
								}
							}
						}
					}

					&__image-wrapper {
						flex: 0 0 162px;
						width: 162px;
						height: 162px;
						margin: 0 28px 0 0;

						@media (max-width: 1359.98px) {
							margin: 0 15px 0 0;
						}
					}

					// .product-body__title
					&__title {
						margin: 0 0 3px 0;
					}

					// .product-body__text
					&__text {
						margin: 18px 0 22px 0;
					}

					// .product-body__testimonials
					&__testimonials {
						order: 2;
					}
					// .product-body__title
					&__title {
						order: 1;
					}
					// .product-body__text
					&__text {
						order: 3;
					}
					// .product-body__buy-wrapper
					&__buy-wrapper {
						order: 4;
					}

					// .product-body__buy
					&__buy {
						width: 210px;
						margin-left: auto;
						padding: 5px 10px;

						@media (max-width: 1359.98px) {
							width: auto;
						}

						@media (max-width: 1023.98px) {
							width: 210px;
						}
					}
				}
			}
		}

		// .catalog__item
		&__item {
			flex: 0 0 25%;

			@media (max-width: 1359.98px) {
				flex-basis: 33.333%;
			}

			@media (max-width: 1023.98px) {
				flex-basis: 50%;
				padding: 15px;
			}
		}
	}

} /* .main-page, .article, .page-card-product */


.page-catalog .catalog {
	margin: 25px 0 35px 0;

	@media (max-width: 1023.98px) {
		margin: 0px 0 35px 0;
	}

	// .catalog__list
	&__list {
		margin-bottom: 35px;

		@media (max-width: 767.98px) {
			margin: 0 -4px 15px -4px;
		}

		//
		// Горизонтальное представление каталога
		//
		&--horizontal {
			margin: 30px 0 40px 0;

			.catalog__item {
				flex-basis: 50%;
				padding: 12px 15px;

				@media (max-width: 1359.98px) {
					flex-basis: 100%;
				}

			}

		}
	}/* .catalog__list */

	// .catalog__item
	&__item {
		@media (max-width: 1359.98px) {
			flex: 0 0 50%;
		}

		@media (max-width: 767.98px) {
			flex: 0 0 100%;
			margin-bottom: 30px;
			padding: 0 4px;
		}
	}

	// .catalog__all-container
	&__all-container {
		justify-content: flex-end;
		margin-bottom: 35px;

		@media (max-width: 767.98px) {
			display: none;
		}
	}

}/* .page-catalog */

.article .catalog {
	margin: 68px 0 45px 0;
	border-bottom: 1px solid #f2f2f2;

	@media (max-width: 767.98px) {
		margin-top: 40px;
		padding-bottom: 15px;
	}

	// .catalog__list
	&__list {
		padding-bottom: 24px;
		margin-bottom: 0;

		@media (max-width: 767.98px) {
			padding-bottom: 47px;
		}
	}
}

.page-card-product .catalog {
	margin: 57px 0 75px 0;
}
