.filters {
	display: flex;
	margin: 65px 0 40px 0;

	@media (max-width: 767.98px) {
		display: block;
		margin: 50px 0 50px 0;
	}

	// .filters__filter
	&__filter {
		position: relative;

		&:last-child {
			margin-left: 50px;
		}

		&.js-active {
			.filters__selector {
				border-color: #212121;

				svg {
					transform: translateY(-50%) rotate(180deg);
				}
			}

			.filters__body {
				opacity: 1;
				visibility: visible;
			}
		}

		@media (max-width: 767.98px) {
			&:last-child { margin: 10px 0 0 0; }
		}
	}

	// .filters__headline
	&__headline {
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;

		@media (max-width: 1023.98px) {
			display: none;
		}
	}

	// .filters__selector
	&__selector {
		display: inline-flex;
		align-items: center;
		position: relative;
		width: 270px;
		min-height: 40px;
		padding: 5px 40px 5px 15px;
		font-size: 14px;
		line-height: 140%;
		text-align: left;
		color: #828282;
		background-color: transparent;
		border: 1px solid #f2f2f2;
		border-radius: 2px;
		cursor: pointer;
		transition: border-color 0.3s;

		@media (max-width: 767.98px) {
			width: 100%;
		}

		svg {
			position: absolute;
			right: 8px;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;

			path {
				transition: stroke 0.3s;
			}
		}

		&:hover {
			border-color: #212121;

			svg path {
				stroke: #971603;
			}
		}
	}

	// .filters__body
	&__body {
		opacity: 0;
		visibility: hidden;

		position: absolute;
		width: 270px;
		top: 50px;
		left: 0;
		padding: 10px;
		background: #fff;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		z-index: 2;
		transition: opacity 0.3s, visibility 0.3s;
	}

	// .filters__search-wrapper
	&__search-wrapper {
		position: relative;
		&:before {
			@include pseudo;
			top: 50%;
			transform: translateY(-50%);
			left: 10px;
			width: 20px;
			height: 20px;
			background: 0 0/16px 16px url(../img/icon/search-black.svg) no-repeat;
		}
	}

	// .filters__search
	&__search {
		width: 100%;
		min-height: 32px;
		padding: 5px 10px 5px 35px;
		color: #828282;
		border: 1px solid #f2f2f2;
		border-radius: 2px;
	}

	// .filters__tags
	&__tags {
		margin: 0;
		padding: 0;
	}

	// .filters__tag
	&__tag {
		margin-bottom: 10px;

		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-height: 25px;
			padding: 5px 8px;
			font-size: 12px;
			color: #828282;
			background: #f2f2f2;
			border-radius: 4px;
		}

		&--selected {
			a {
				color: #212121;
				background-color: #e0e0e0;
			}
		}
	}

	// .filters__list
	&__list {
		margin: 0;
		padding: 0;
		// @media (max-width: 1023.98px) {
		// 	display: none;
		// }
	}

	// .filters__scroll-list
	&__scroll-list {
		display: none;
		@media (max-width: 1023.98px) {
			display: block;
			position: absolute;
			left: calc(-1 * (100vw - 728px) / 2);
			width: 100vw;
			padding: 10px 24px 0 24px;
		}

		@media (max-width: 767.98px) {
			left: -24px;
		}
	}

	// .filters__item
	&__item {
		margin: 20px 0;

		label {
			display: flex;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: #971603;
				text-decoration: underline;
			}
		}
	}

	// .filters__check
	&__check {
		flex: 0 0 18px;
		width: 18px;
		height: 18px;
		margin-right: 8px;
		background: #fff;
		border: 1px solid #e0e0e0;
		border-radius: 2px;
	}

	// .filters__checkbox
	&__checkbox {
		display: none;

		&:checked + .filters__check {
			background: 0 0/16px 16px url(../img/icon/checkbox.svg) no-repeat #fff;
		}
	}
}

.page-catalog .filters {
	display: block;
	margin: 90px 20px 40px 0;

	@media (max-width: 1023.98px) {
		margin: 90px 0 0 0;
	}

	@media (max-width: 767.98px) {
		margin: 40px 0 0 0;
	}

	// .filters__filter
	&__filter {
		&:nth-child(2) {
			margin-right: 0;
			padding-bottom: 10px;
			border-bottom: 1px solid #e0e0e0;
			@media (max-width: 1023.98px) {
				position: relative;
				height: 130px;
				border: none;
			}
		}
		&:last-child {
			margin-top: 30px;
			margin-left: 0;

			@media (max-width: 767.98px) {
				margin-top: 15px;
			}
		}
	}

	// .filters__selector
	&__selector {
		display: none;

		@media (max-width: 1023.98px) { display: block; }
	}

	// .filters__search-wrapper
	&__search-wrapper {
		margin-bottom: 20px;
	}

	// .filters__body
	&__body {
		position: static;
		opacity: 1;
		visibility: visible;
		padding: 0;
		box-shadow: none;

		@media (max-width: 1359.98px) {
			width: auto;
		}

		@media (max-width: 1023.98px) {
			&--tags {
				position: absolute;
				top: 50px;
				left: 0;
				width: 270px;
				padding: 10px;
				opacity: 0;
				visibility: hidden;
				box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
			}
		}
	}

	// .filters__list
	&__list {
		@media (max-width: 1023.98px) {
			display: none;
		}
	}

	// .filters__item
	&__item {
		display: flex;
		margin: 18px 0;

		label {
			margin-right: 10px;
		}
	}

	//.filters__quantity
	&__quantity {
		font-size: 12px;
		line-height: 19px;
		color: #bdbdbd;
	}

}/* .page-catalog .filters  */
