@font-face {
	font-family: "ProximaNova";
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/ProximaNova-Light.woff2) format("woff2"), url(../fonts/ProximaNova-Light.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "ProximaNova";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ProximaNova-Regular.woff2) format("woff2"), url(../fonts/ProximaNova-Regular.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "ProximaNova";
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/ProximaNova-Semibold.woff2) format("woff2"), url(../fonts/ProximaNova-Semibold.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "ProximaNova";
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/ProximaNova-800.woff2) format("woff2"), url(../fonts/ProximaNova-800.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Vityaz";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Vityaz.woff2) format("woff2"), url(../fonts/Vityaz.woff) format("woff");
	font-display: swap;
}