.footer {
	position: relative;
	background-color: #212121;
	z-index: 2;

	// .footer__flex-wrapper
	&__flex-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 46px 0 26px 0;

		@media (max-width: 767.98px) { 
			flex-direction: column;
			align-items: center;
			padding: 20px 0;
		}

	}

	// .footer__flex-column
	&__flex-column {
		padding: 0 5px;

		&--one {
			flex: 0 1 312px;
			@media (max-width: 1023.98px) { flex-basis: 250px; }
			@media (max-width: 767.98px) { flex-basis: auto; }
		}
		&--two {
			position: relative;
			flex: 0 1 286px;
			@media (max-width: 767.98px) { display: none; }
		}
		&--three {
			flex: 0 1 350px;
			@media (max-width: 767.98px) { display: none; }
		}
		&--four {
			flex: 0 1 294px;
			@media (max-width: 767.98px) { flex-basis: auto; }
		}
	}

	// .footer__logo-link
	&__logo-link {
		display: inline-block;
		position: relative;
		left: -5px;
		margin-top: 15px;
		@media (max-width: 1440px) { left: 0; }
		@media (max-width: 767.98px) { margin-top: 0; }
		
	}

	// .footer__logo
	&__logo {
		&--min {
			display: none;
		}
		
		@media (max-width: 1023.98px) { 
			&--big {
				position: relative;
				right: 20px;
			}
		}
		@media (max-width: 767.98px) { 
			&--big {
				display: none;
			}
			&--min {
				display: block;
			}
		}
	}

	// .footer__headline
	&__headline {
		margin-bottom: 59px;
		color: #fff;
		font-size: 14px;
		line-height: 1.4;
		font-weight: 600;
		text-transform: uppercase;

		@media (max-width: 767.98px) { 
			margin: 40px 0 5px 0;
			text-align: center; 
		}
	}

	.line-delimeter {
		@include pseudo;
		top: 35px;
		left: 4px;
		width: 930px;
		opacity: 0.1;
	
		@media (max-width: 1359.98px) { width: 692px; }
		@media (max-width: 1023.98px) { width: 578px; }
		
		&__line {
			@include pseudo;
			top: 5px;
			left: 9px;
			width: 912px;
	
			@media (max-width: 1359.98px) { width: 675px; }
			@media (max-width: 1023.98px) { width: 560px; }
		}
	
		&__rectangle {
			@include pseudo;
			top: 2px;
	
			&--one { left: 0; }
			&--two { left: 105px; 
				@media (max-width: 1023.98px) { left: 100px; }
			}
			&--three {
				right: 410px;
				@media (max-width: 1359.98px) { right: 300px; }
				@media (max-width: 1023.98px) { right: 250px; }
			}
			&--four { right: 0; }
		}
	}

}

.nav-footer {
	color: #bdbdbd;
	font-size: 14px;
	line-height: 1.4;

	// .footer-nav__list
	&__list {
		margin: 0;
		padding: 0;
	}

	// .footer-nav__item
	&__item {
		margin: 13px 0;
	}

	// .footer-nav__link
	&__link {
		position: relative;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

.contacts-footer {
	color: #bdbdbd;

	@media (max-width: 767.98px) {
		display: flex;
		flex-direction: column;
		align-items: center;		
	}

	// .footer-contacts__item
	&__item {
		position: relative;
		margin: 12px 0;
		padding: 0 0 0 28px;
		line-height: 1.4;

		@media (max-width: 767.98px) { 
			text-align: center; 
			margin: 6px 0;
		}

		a {
			position: relative;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .footer-contacts__icon
	&__icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 15px;
		height: 20px;
		object-fit: contain;
	}
}

.social-footer {
	@media (max-width: 767.98px) { 
		margin: 25px 0 15px 0;
		text-align: center; 
	}

	// .social-footer__link
	&__link {
		&:first-child {
			margin: 0 20px 0 3px;

			img {
				display: inline-block;

			}
		}

		@media (max-width: 767.98px) { 
			margin: 0 20px;
			&:first-child { margin: 0 20px; }

			@media (max-width: 767.98px) {
				margin: 0 17px;
				&:first-child {
					margin: 0 17px;
				}
			}
		}

		img {
			@media (max-width: 767.98px) {
				width: 30px;
				height: 30px;
			}
		}

	}
}

