.header {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 64px;
	border-bottom: 1px solid transparent;
	z-index: 2000;

	@media (max-width: 1023.98px) {
		background-color: #fff;
	}

	// .header__catalog-open-mobile
	&__catalog-open-mobile {
		display: none;
		font-size: 0;
		border: none;
		background-color: transparent;
		margin-right: 28px;
		padding: 0;
		cursor: pointer;

		@media (max-width: 1023.98px) {
			display: block;
		}

	}

	// .header__flex-container
	&__flex-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1280px;
		margin: 0 auto;
		padding: 0 20px;

		@media (max-width: 1359.98px) {
			width: 980px;
			padding: 0 20px;
		}

		@media (max-width: 1023.98px) {
			width: 100%;
			min-height: 64px;
		}
	}

	// .header__logo-link
	&__logo-link {
		width: 75px;
		height: 112px;
		padding-top: 24px;

		@media (max-width: 1359.98px) {
			width: 55px;
			height: 82px;
		}

		@media (max-width: 1023.98px) {
			width: 58px;
			height: 46px;
			margin-left: 4px;
			padding: 0;
		}
	}

	// .header__logo
	&__logo {
		position: relative;

		&--desktop {
			@media (max-width: 1359.98px) {
				display: none;
			}
		}

		&--desktop-min {
			display: none;

			@media (max-width: 1359.98px) {
				display: block;
			}

			@media (max-width: 1023.98px) {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@media (max-width: 1023.98px) {
				display: block;
			}
		}
	}

	// .header__catalog-wrapper
	&__catalog-wrapper {
		position: relative;
		margin-left: 75px;

		@media (max-width: 1359.98px) { margin-left: 35px; }
		@media (max-width: 1023.98px) { display: none !important }
	}

	// .header__catalog-open
	&__catalog-open {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 140px;
		min-height: 46px;
		padding: 5px 20px;
		border-radius: 4px;
		border: none;
		color: #fff;
		background-color: #941704;
		box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

		&:hover {
			background-color: #ad1b05;
			box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
		}

		&.js-active {
			color: #212121;
			background-color: #fff;
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);

			.header__catalog-open-icon {
				background-image: url(../img/icon/close-red.svg);
			}

		}
	}

	// .header__open-menu
	&__open-menu {
		display: none;
		padding: 0;
		font-size: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;

		@media (max-width: 1023.98px) {
			display: block;
		}
	}

	// .header__catalog-open-text
	&__catalog-open-text {
		font-family: "ProximaNova", Arial, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 22.4px;

	}

	// .header__catalog-open-icon
	&__catalog-open-icon {
		margin-left: 20px;
		width: 24px;
		height: 24px;
		background: 0 0/24px 24px url(../img/icon/chart-bar-white.svg) no-repeat;

		@media (max-width: 1359.98px) {
			margin-left: 5px;
		}
		@media (max-width: 1024px) {
			margin-left: 10px;
		}
	}

	// .header__user-nav-wrapper
	&__user-wrapper {
		margin-right: 4px;
	}

	// .header__user-nav
	&__user-nav {
		@media (max-width: 1023.98px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// .header__button-modal-wrapper
	&__button-modal-wrapper {
		display: inline-block;
		position: relative;
	}

	// .header__user-nav-cab
	&__user-nav-cab {
		display: inline-block;
		text-decoration: none;
		margin-right: 20px;
		width: 18px;
		height: 18px;

		@media (max-width: 1023.98px) {
			width: 24px;
			height: 24px;
			margin-right: 30px;
			padding: 0;
			svg path {
				fill: #212121;
			}
		}

		svg {
			width: 100%;
			height: 100%;
			path {
				transition: fill 0.3s;
			}
		}
	}

	// .header__user-nav-cart
	&__user-nav-cart {
		display: inline-block;
		position: relative;
		width: 18px;
		height: 18px;

		&.filled {
			&:after {
				position: absolute;
				top: -2px;
				right: -3px;
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background-color: #941704;
				border-radius: 50%;
				z-index: 1;

				@media (max-width: 1023.98px) {
					top: 0px;
				}
			}
		}

		svg {
			width: 100%;
			height: 100%;
			path {
				transition: fill 0.3s;
			}
		}

		@media (max-width: 1023.98px) {
			width: 24px;
			height: 24px;
			margin-right: 30px;
			padding: 0;

			svg path {
				fill: #212121;
			}
		}
	}

	// .header__user-nav-cart-icon
	&__user-nav-cart-icon {
		@media (max-width: 1023.98px) {
			width: 24px;
			height: 24px;
		}

		&--black {
			display: none;
			@media (max-width: 1023.98px) {
				display: block;
			}
		}

		&--white {
			@media (max-width: 1023.98px) {
				display: none;
			}
		}
	}
}

.catalog-list {
	position: absolute;
	top: 61px;
	left: 0;
	background-color: #fff;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
	border-radius: 4px;

	// .catalog-list__link
	&__link {
		text-decoration: none;
		font-size: 14px;
		line-height: 32px;
		transition: color 0.3s;

		span {
			padding-left: 18%;
		}

		svg {
			margin-right: 15px;
			path {
				transition: fill 0.3s;
			}
		}

		&:hover {
			color: #971603;
			svg path {
				fill: #971603;
			}
		}
	}

	// .catalog-list__svg
	&__svg {
		background-color: transparent;
		border: none;
		padding-right: 0 16px 0 0;
	}
}

//
// Другие страницы
//
.faq,
.clients,
.contacts,
.page-about-us,
.page-knowledge,
.page-catalog,
.article,
.page-card-product {
	.header {
		position: relative;

		// .header__flex-container
		&__flex-container {
			// min-height: 112px;
			position: relative;

			&::before {
				@include pseudo;
				width: 87%;
				height: 1px;
				bottom: 0;
				right: 0;
				background-color: #f2f2f2;

				@media (max-width: 1359.98px) {
					width: 90%;
				}

				@media (max-width: 1023.98px) {
					width: 100%;
				}
			}
		}

		.main-nav__link {
			color: #212121;
			transition: color 0.3s;
			&:hover {
				color: #971603;
			}
		}

		.main-nav__call {
			color: #212121;
			transition: color 0.3s;

			&:hover {
				color: #971603;
			}

			svg path {
				fill: #212121;
				transition: fill 0.3s;

				&:hover {
					fill: #971603;
				}
			}
		}

		.header__user-nav-cab {
			svg path {
				fill: #212121;

				&:hover {
					fill: #971603;
				}
			}
		}

		.header__user-nav-cart {
			svg path {
				fill: #212121;
				transition: fill 0.3s;
				&:hover {
					fill: #971603;
				}
			}
		}
	}
}

// .header.sticky-header
.header.js-sticky-header,
.header.js-lutokostyl {
	position: fixed;
	background-color: #fff;
	border-bottom:1px solid rgba(0,26,52,.16);
	box-shadow:0 4px 16px 2px rgba(0,26,52,.16);

	.header__flex-container {
		background-color: #fff;
		&::before {
			display: none;
		}
	}

	.header__logo--desktop,
	.header__logo--desktop-min {
		display: none;
	}
	.header__logo--mobile {
		display: block;
	}

	.header__logo-link {
		width: 58px;
		height: 46px;
		margin-left: 4px;
		padding: 0;
	}


	.header__catalog-open {
		min-height: 40px;
	}

	.main-nav__link {
		&:hover {
			color: #971603;
			svg path {
				fill: #971603;
			}
		}
	}

	.main-nav {
		&__link {
			color: #212121;
			&:hover {
				color: #971603;
			}
		}

		&__call {
			color: #212121;

			svg path {
				fill: #212121;
			}

			&:hover {
				color: #971603;
				svg path {
					fill: #971603;
				}
			}
		}
	}

	.header__user-nav {
		&-cab,
		&-cart {
			svg path {
				fill: #212121;
			}
			&:hover {
				svg path {
					fill: #971603;
				}
			}
		}
	}
}
