.knowledge-base {

	// .knowledge-base__title
	&__title {
		position: relative;
		margin: 30px 0 10px 0;
		font-family: "Vityaz", Arial, Helvetica, sans-serif;
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		text-align: center;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -2px;
			background-size: contain;
			background-repeat: repeat-x;
			transform: translateX(-50%);

			@media (max-width: 1023.98pxpx) {
				display: none;
			}
		}

		@media (max-width: 767.8px) {
			margin: 30px 0 10px 0;
			font-size: 25px;
			line-height: 120%;
		}
	}

	// .knowledge-base__filters
	&__filters {
		position: relative;
		&:before {
			@include pseudo;
			top: 70px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #F2F2F2;

			@media (max-width: 767.98px) {
				display: none;
			}
		}
	}

}/* .knowledge-base */


.scroller {
	height: 220px;
	overflow: hidden;

	ul {
		width: 100%;
		height: 210px;
		padding:5px;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hide;
	  	-webkit-overflow-scrolling: touch;
	}

	li {
		display:inline-block;
		width:200px;
		height:2000px;
		line-height:200px;
		text-align:center;

		background: #a7db62;
		font-size: 20px;
		font-weight: 600;
		color: #212121;
	}
}

