.line-delimeter {
	display: flex;
	justify-content: center;		
	margin: 20px 0;

	&__body {
		position: relative;
		width: 826px;
		height: 12px;

		@media (max-width: 1439.98) {
			width: 692px;
		}
		@media (max-width: 1023.98px) {
			width: 578px;
		}
		@media (max-width: 767.98px) {
			width: 100%;
		}
	}

	&__line {
		@include pseudo;
		top: 5px;
		left: 9px;
		height: 2px;
		width: 808px;
		background-color: #e0e0e0;

		@media (max-width: 1439.98) {
			width: 675px;
		}
		@media (max-width: 1023.98px) {
			width: 560px;
		}
		@media (max-width: 767.98px) {
			left: 0;
			width: 100%;
		}
	}

	&__rectangle {
		@include pseudo;
		top: 2px;
		width: 8px;
		height: 8px;
		background-color: #fff;
		border: 2px solid #e0e0e0;
		transform: rotate(45deg);

		&--one {
			left: 0;
			@media (max-width: 767.98px) {
				left: -4px;
			}
		}
		&--two {
			left: 105px;
			@media (max-width: 1023.98px) {
				left: 100px;
			}
			@media (max-width: 767.98px) {
				left: 50%;
				transform: translateX(-50%) rotate(45deg );
			}
		}
		&--three {
			right: 310px;
			@media (max-width: 1439.98) {
				right: 300px;
			}
			@media (max-width: 1023.98px) {
				right: 250px;
			}
			@media (max-width: 767.98px) {
				display: none;
			}
		}
		&--four {
			right: 0;
		}
	}

}
