
.main-nav {
	display: flex;
	align-items: center;
	margin-left: 75px;

	@media (max-width: 1359.98px) { margin-left: 35px; }

	@media (max-width: 1023.98px) {
		display: none;
	}

	// .main-nav__close-menu-wrapper
	&__close-menu-wrapper {
		display: flex;
		justify-content: flex-end;
	}

	// .main-nav__list
	&__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// .main-nav__item
	&__item {
		position: relative;
		padding: 0 14px;

		@media (max-width: 1359.98px) {
			padding: 0 7px;
		}
	}

	// .main-nav__link
	&__link {
		font-size: 14px;
		line-height: 22px;
		text-decoration: none;
		font-size: 14px;
		line-height: 29.6px;
		color: #fff;
		transition: color 0.3s;

		@media (max-width: 1359.98px) {
			font-size: 13px;
		}
	}

	// .main-nav__list-two
	&__list-two {
		position: absolute;
		top: 48px;
		left: -96px;
		width: 212px;
		min-height: 240px;
		list-style: none;
		padding-left: 0px;
		background-color: #ffffff;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
		border-radius: 4px;
		padding: 20px;
		display: none;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: -9px;
			right: 31px;
			width: 20px;
			height: 20px;
			background-color: #fff;
			transform: rotate(-45deg);
		}

		&--style {
			min-height: 136px;
			left: -64px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			display: none;
		}
	}

	// .main-nav__link-two
	&__link-two {
		text-decoration: none;
		font-size: 14px;
		line-height: 32px;

		&:hover {
			color: #971603;
			transition: color 0.3s;
		}

		&--style {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 172px;
			min-height: 36px;
			border: 1px solid #e0e0e0;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}

	// .main-nav__item-two
	&__item-two {
		&--margin {
			margin-top: 10px;
		}
	}

	// .main-nav__call
	&__call {
		display: inline-flex;
		align-items: center;
		position: relative;
		margin: 0px 0 0 45px;
		font-size: 14px;
		line-height: 160%;
		font-weight: 600;
		color: #fff;
		text-decoration: underline;
		transition: color 0.3s;

		svg {
			margin-right: 10px;
			path {
				transition: fill 0.3s;
			}
		}

		@media (max-width: 1359.98px) {
			font-size: 13px;
			margin: 0px 15px 0 25px;
		}
	}

	// .main-nav__svg
	&__svg {
		background-color: transparent;
		border: none;
	}
}
