@media (max-width: 767.98px) {
	//
	// База знаний
	//
	.knowledge {
		.container {
			display: flex;
			flex-direction: column;
			min-width: 0;
		}

		// .knowledge__title
		&__title {
			margin: 10px 0 55px 0;
			order: 1;
			&:after {
				bottom: -26px;
			}
		}

		// .knowledge__slider-container
		&__slider-container {
			width: 100%;
			order: 2;
		}

		// .knowledge__all-container
		&__all-container {
			justify-content: flex-start;
			order: 3;
		}

		// .knowledge__list
		&__list {
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			margin: 0;
			padding: 0;
			order: 2;
		}

		// .knowledge__item
		&__item {
			margin: 0;
			padding: 0;
			flex: 0 0 auto;

			&:nth-child(4) {
				display: flex;
			}
		}

		&__slider-buttons-container {
			order: 4;
		}

		&__line-wrapper {
			margin: 17px 0;
			order: 5;
		}

		.slick-dots {
			display: flex;
			justify-content: center;
			padding: 0;

			li {
				font-size: 0;

				&.slick-active button {
					background-color: #212121;
				}

				button {
					width: 8px;
					height: 8px;
					margin: 0 6px;
					padding: 0;
					font-size: 0;
					border: none;
					border-radius: 50%;
					background-color: #e0e0e0;
					transition: background-color 0.3s;
				}
			}
		}
	}

	.article-knowledge {
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;

		&:hover {
			box-shadow: none;
		}

		// .article-knowledge__title
		&__title {
			margin: 18px 0 10px 0;
		}

		// .article-knowledge__image-wrapper
		&__image-wrapper {
			width: 100%;
			height: 62.5vw;
		}

		// .article-knowledge__image
		&__image {
			width: 100%;
			height: 100%;
			object-position: center;
		}
	}

	//
	// Каталог
	//

	.main-page,
	.article,
	.page-card-product {
		.catalog {
			.container {
				display: flex;
				flex-direction: column;
			}

			&__title {
				margin: 10px 0 55px 0;
				order: 1;
				&:after {
					bottom: -26px;
				}
			}

			&__all-container {
				justify-content: flex-start;
				margin-bottom: 0;
				order: 4;
			}

			&__switcher-wrapper {
				display: none;
			}

			// .catalog__list
			&__list {
				flex-wrap: nowrap;
				width: auto;
				margin: 0 0 15px 0;
				padding: 0;
				order: 2;
			}

			// .catalog__item
			&__item {
				flex: 0 0 auto;
				margin: 0;
				padding: 0;
			}

			&__slider-buttons-container {
				margin-bottom: 30px;
				order: 3;
			}

			&__line-wrapper {
				margin: 17px 0;
				order: 5;
			}

			.slick-dots {
				display: flex;
				justify-content: center;
				padding: 0;

				li {
					font-size: 0;

					&.slick-active button {
						background-color: #212121;
					}

					button {
						width: 8px;
						height: 8px;
						margin: 0 6px;
						padding: 0;
						font-size: 0;
						border: none;
						border-radius: 50%;
						background-color: #e0e0e0;
						transition: background-color 0.3s;
					}
				}
			}
		}
	}

	.main-page .product-body {
		display: block;
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;

		&:hover {
			box-shadow: none;
		}

		&__title {
			margin: 8px 0 10px 0;
		}

		&__text {
			margin-bottom: 13px;
		}

		&__image-wrapper {
			width: auto;
			height: auto;
		}

		&__image {
			width: 100%;
			height: 62.8vw;
			object-fit: contain;
			object-position: center;
		}
	}


}
