.pagination {
	margin: 15px 0 40px 0;

	@media (max-width: 767.98px) {
		margin: 25px 0 60px 0;
	}

	// .pagination__flex-container
	&__flex-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .pagination__show-more
	&__show-more {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 203px;
		min-height: 32px;
		padding: 5px 10px;
		background-color: transparent;
		font-weight: 600;
		line-height: 160%;
		border: 1px solid #E0E0E0;
		border-radius: 4px;		
		cursor: pointer;

		@media (max-width: 1023.98px) {
			width: 100%;
		}
	}

	// .pagination__pagination-wrapper	
	&__pagination-wrapper	 {
		display: flex;

		@media (max-width: 1023.98px) {
			display: none;
		}
	}

	// .pagination__nav
	&__nav {
		display: flex;
	}

	// .pagination__list
	&__list {
		display: flex;
		margin: 0;
		padding: 0;
	}

	// .pagination__item
	&__item {
		margin: 0 4px;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		transition: border-color 0.3s;

		// ._current
		&._current {
			border: 1px solid #212121;
		}

		&:not(._current):not(._inactive):hover {
			border-color: #971603;
		}

		a,
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			font-weight: 600;
			line-height: 160%;
			border-radius: 4px;
		}

	}

	// .pagination__arrow
	&__arrow {		
		width: 28px;
		height: 32px;
		margin: 0;
		padding: 0;
		font-size: 0;
		background: #f2f2f2;
		border: none;
		cursor: pointer;
		
		svg path {
			width: 24px;
			height: 24px;
			transition: stroke 0.3s;
		}

		&:hover {
			svg path {
				stroke: #212121;
			}
		}
	}

	// .pagination__arrow--prev
	&__arrow--prev {
		margin-left: 4px;
		border-radius: 4px 0px 0px 4px;
	}

	// .pagination__arrow--next
	&__arrow--next {
		border-radius: 0 4px 4px 0;
	}

}
