.product-body {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	padding: 20px;
	background-color: #fff;
	border-radius: 4px;
	background-color: transparent;
	transition: box-shadow 0.3s;

	@media (max-width: 1023.98px) {
		background-color: #fff;
	}

	&:hover {
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
		background-color: #fff;

		@media (max-width: 767.98px) {
			box-shadow: none;
		}

		.product-body__buy {
			position: static;
			visibility: visible;
			opacity: 1;
		}
	}

	// .product-body--sale
	&--sale {
		.product-body__image-wrapper {
			background-color: #fff;
		}

		.product-body__price {
			color: #971603;
		}
	}

	// .product-body__sale
	&__sale {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 20px;
		left: 20px;
		height: 23px;
		padding: 5px 11px;
		font-size: 12px;
		line-height: 140%;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		background: #971603;
		border-radius: 3px;
	}

	// .product-body__image-wrapper
	&__image-wrapper {
		flex: 0 0 240px;
		height: 240px;
		margin-bottom: 20px;
		padding: 5px;
		background-color: #f8f8f8;
		border-radius: 4px;

		@media (max-width: 767.98px) {
			flex: 0 0 62.5vw;
			height: 62.5vw;
			margin-bottom: 10px;
		}

		a {
			display: block;
			height: 100%;
		}
	}

	// .product-body__column
	&__column {
		display: flex;
		flex: 0 1 100%;
		flex-direction: column;
	}

	// .product-body__image
	&__image {
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: contain;
	}

	// .product-body__title
	&__title {
		margin: 10px 0 10px 0;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 700;
		color: #212121;
	}

	// .product-body__text
	&__text {
		margin: 0 0 12px 0;
		font-size: 14px;
		line-height: 1.4;
		font-weight: 300;
		color: #828282;
	}

	// .product-body__buy-wrapper
	&__buy-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		min-height: 36px;
		margin-top: auto;
	}

	// .product-body__price
	&__price {
		font-weight: 800;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: -1px;
		color: #212121;
	}

	// .product-body__buy
	&__buy {
		opacity: 0;
		visibility: hidden;

		justify-content: center;
		align-items: center;
		padding: 5px 15px;
		font-size: 16px;
		line-height: 160%;
		font-weight: 600;
		color: #fff;
		border: none;
		border-radius: 4px;
		background-color: #971603;
		cursor: pointer;
		transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s;

		@media (max-width: 1023.98px) {
			opacity: 1;
			visibility: visible;
		}

		&:hover {
			background-color: #ad1b05;
			box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		}

		span {
			position: relative;
			padding-left: 26px;

			&:before {
				@include pseudo;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 18px;
				height: 18px;
				background: center/18px 18px url(../img/icon/catalog-cart.svg) no-repeat;
			}
		}
	}
}/* .product-body */

// .product-body--no
.product-body--no {

	&:hover {
		.product-body__buy {
			width: 100%;
			box-shadow: none;
		}

		.product-body__price {
			display: none;
		}
	}

	.product-body__buy {
		position: absolute;
		width: 100%;
		background-color: #c4c4c4;
		box-shadow: none;

		@media (max-width: 1023.98px) {
			position: static;
			opacity: 1;
			visibility: visible;
		}

		span {
			padding: 0;
			&:before {
				display: none;
			}
		}
	}

	.product-body__price {
		@media (max-width: 1023.98px) {
			display: none;
		}
	}

}

.main-page,
.article,
.page-card-product {
	.product-body {
		@media (max-width: 1023.98px) {
			padding: 15px;
		}

		@media (max-width: 767.98px) {
			padding: 0;
		}
	}
} /* .main-page, .article, .page-card-product */


.page-catalog .catalog {
	margin: 25px 0 35px 0;

	// .catalog__list
	&__list {
		.product-body {
			@media (max-width: 767.98px) {
				margin: 0;
				padding: 0;
			}
		}

		//
		// Горизонтальное представление каталога
		//
		&--horizontal {

			.product-body {
				flex-direction: row;
				padding: 35px 20px 35px 10px;

				@media (max-width: 1359.98px) {
					padding: 20px 15px 20px 10px;
				}

				// .product-body--no
				&--no {
					.product-body__buy {
						width: 100%;
					}
				}

				// .product-body__image-wrapper
				&__image-wrapper {
					flex: 0 0 162px;
					width: 162px;
					height: 162px;
					margin: 0 15px 0 0;

					@media (max-width: 1359.98px) {
						margin: 0 15px 0 0;
					}
				}

				// .product-body__title
				&__title {
					margin: 0 0 3px 0;
				}

				// .product-body__text
				&__text {
					margin: 18px 0 22px 0;
				}

				// .product-body__testimonials
				&__testimonials {
					order: 2;
				}
				// .product-body__title
				&__title {
					order: 1;
				}
				// .product-body__text
				&__text {
					order: 3;
				}
				// .product-body__buy-wrapper
				&__buy-wrapper {
					order: 4;
				}

				// .product-body__buy
				&__buy {
					width: 110px;
					margin-left: auto;
					padding: 5px 10px;

					@media (max-width: 1359.98px) {
						width: auto;
					}

					@media (max-width: 1023.98px) {
						width: 210px;
					}
				}
			}
		}
	}/* .catalog__list */

}/* .page-catalog */
