.testimonials {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	// .testimonials__stars-wrapper
	&__stars-wrapper {
		margin-right: 8px;
		font-size: 0;
	}

	// .testimonials__star
	&__star {
		display: inline-block;
		width: 18px;
		height: 18px;

		background: 0 0/18px 18px url(../img/icon/star-gold.svg) no-repeat;

		&--half {
			background: 0 0/18px 18px url(../img/icon/star-half.svg) no-repeat;
		}

		&--grey {
			background: 0 0/18px 18px url(../img/icon/star-grey.svg) no-repeat;
		}
	}

	// .testimonials__text
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #828282;
	}
}

.page-card-product .testimonials {
	margin-bottom: 20px;

	@media (max-width: 767.98px) {
		margin-bottom: 10px;
	}

	&--no-margin {
		margin-bottom: 0;
	}

	&--bottom {
		margin-bottom: 0;
		width: 99px;
		height: 34px;
		border-radius: 4px;
		padding: 4px 24px 4px 24px;
		border: 1px solid #e0e0e0;

		margin-right: 24px;
	}

	// .testimonials__star
	&__star {
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: 0 3px;
		background: 0 0/22px 22px url(../img/icon/star-gold.svg) no-repeat;

		&--grey {
			background: 0 0/22px 22px url(../img/icon/star-grey.svg) no-repeat;
		}

		@media (max-width: 767.98px) {
			width: 18px;
			height: 18px;
			background: 0 0/18px 18px url(../img/icon/star-gold.svg) no-repeat;

			&--grey {
				background: 0 0/18px 18px url(../img/icon/star-grey.svg) no-repeat;
			}
		}

	}

	// .testimonials__text
	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	// .testimonials__bg
	&__bg {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 2px;
		background-color: #fff;
		margin-left: 25px;

		&--two {
			height: auto;
			margin-left: 0;
		}
	}
}

