@import "normalize";
@import "mixins";
@import "fonts";
@import "header";
@import "footer";
@import "main-nav";

@import "article/article";
@import "article/blog-product";

@import "card-product/card-product";
@import "card-product/characteristics";
@import "card-product/comment";
@import "card-product/form";
@import "card-product/info";
@import "card-product/reviews";
@import "card-product/slider-product";

@import "modal/modal";
@import "modal/comments-modal";
@import "modal/main-video";
@import "modal/login";
@import "modal/register";
@import "modal/cabinet-modal";
@import "modal/cart-modal";
@import "modal/catalog-modal";
@import "modal/nav";

@import "main/top-bar";
@import "main/advantages";
@import "main/natural";
@import "main/our-products";
@import "main/knowledge";
@import "main/main-slider";

@import "about-us/about-us";
@import "about-us/history";
@import "about-us/product-about-us";
@import "about-us/requisites";

@import "catalog/products";
@import "catalog/description-products";
@import "catalog/scroll-list";

@import "catalog";
@import "product-body";

@import "faq/questions";
@import "faq/popular-questions";
@import "faq/answer";
@import "faq/form-connection";
@import "faq/contacts-questions";
@import "faq/connection";

@import "clients/clients";
@import "clients/list-clients";
@import "clients/clients-sale";
@import "clients/our-partners";

@import "contacts/contacts";

@import "breadcrumbs";
@import "filters";
@import "pagination";
@import "testimonials";

@import "big-slider";
@import "knowledge-base";
@import "line_delimeter";
@import "4swiper";
@import "mobile-sliders";

body {
	position: relative;
	font-family: "ProximaNova", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	color: #212121;
}

a { color: inherit; }

button { cursor: pointer; }


// .container
.container {
	max-width: 1288px;
	margin: 0 auto;
	padding: 0 20px;

	@media (max-width: 1359.98px) { max-width: 980px; }
	@media (max-width: 1023.98px) { max-width: 768px; }
	@media (max-width: 767.98px) {
		width: 100%;
		max-width: none;
		padding: 0 24px;
	}

}


.main-page {
	main {
		@media (max-width: 1023.98px) {
			padding-top: 64px;
		}
	}
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.ornament {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	right: 4px;
	width: 25px;
	min-height: 100%;
	background-image: url(../img/icon/advent-ornament-vectical.svg);
	background-position: -1px;
	background-size: contain;
	background-repeat: repeat-y;

	&::before {
		 content: "";
		 display: block;
		 position: absolute;
		 top: 0;
		 right: 27px;
		 width: 2px;
		 height: 100%;
		 background: #941704;
		 background-position: center;
		 background-size: contain;
		 background-repeat: repeat-y;
	}

	&::after {
		 content: "";
		 display: block;
		 position: absolute;
		 top: 0;
		 right: -3px;
		 width: 2px;
		 height: 100%;
		 background: #941704;
		 background-position: center;
		 background-size: contain;
		 background-repeat: repeat-y;
	}

	@media (max-width: 1023.98px) {
		 display: none;
	}
}

.scroll-up {
	position: fixed;
	bottom: 50px;
	right: 55px;
	width: 32px;
	height: 32px;
	background: 4px 4px/24px 24px url(../img/icon/arrow-slide-up.svg) no-repeat #f2f2f2;
	border-radius: 4px;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: background-color 0.3s, opacity 1s;

	&:hover {
		background-color: #212121;
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

	@media (max-width: 1023.98px) {
		display: none;
	}
}