.contacts {
    // .contacts__title

    &__title {
        margin: 23px 0 0 0;
        position: relative;
        font-family: "Vityaz";
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        text-align: center;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -31px;
            left: 50%;
            width: 156px;
            height: 17px;
            background-image: url(../img/icon/advent-ornament.svg);
            background-position: -2px;
            background-size: contain;
            background-repeat: repeat-x;
            transform: translateX(-50%);

            @media (max-width: 767.8px) {
                bottom: -26px;
                left: 49%;
                transform: translateX(-49%);
            }
        }

        @media (max-width: 767.8px) {
            margin-top: 28px;
            font-size: 25px;
            line-height: 30px;
        }
    }

    // .contacts__flex-wrapper

    &__flex-wrapper {
        display: flex;
        margin: 88px -16px 0 -16px;

        @media (max-width: 1359.98px) {
            margin: 88px -10px 0 -10px;
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
            margin: 56px 0px 0px 0px;
        }
    }

    // .contacts__flex-element

    &__flex-element {
        width: 394px;
        min-height: 336px;
        margin: 0 16px;
        background-color: #f2f2f2;
        border-radius: 4px;
        padding: 56px 33px 33px 33px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1359.98px) {
            margin: 0 10px;
            padding: 56px 25px 33px 26px;
        }

        @media (max-width: 767.98px) {
            width: 100%;
            margin: 10px 0;
            min-height: 216px;
            padding: 21px 20px 17px 20px;
        }
    }

    // .contacts__flex-element-map

    &__flex-element-map {
    }
    // .contacts__image-wrapper

    &__image-wrapper {
        margin-bottom: 39px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;

        @media (max-width: 767.98px) {
            margin-bottom: 31px;
        }
    }

    // .contacts__image

    &__image {
        width: 32px;
        height: 32px;
    }

    // .contacts__icon-wrapper

    &__icon-wrapper {
        margin-bottom: 11px;

        @media (max-width: 767.98px) {
            margin-bottom: 7px;
        }
    }

    // .contacts__icon

    &__icon {
        margin: 0 12px;
    }

    // .contacts__mail

    &__mail {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        text-decoration: underline;
    }

    // .contacts__text

    &__text {
        margin-bottom: 0px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;

        &--metro {
            @media (max-width: 767.98px) {
                margin-top: 8px;
                width: 227px;
            }
        }

        &--time-one {
            position: relative;

            @media (max-width: 767.98px) {
                margin-top: 2px;
                width: 175px;
            }
            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 18px;
                height: 18px;
                top: 1px;
                left: -9%;
                transform: translateX(9%);
                background: url(../img/icon/clock-line-grey.svg);
                background-position: center;
                background-repeat: no-repeat;

                @media (max-width: 1359.98px) {
                    left: -2%;
                    transform: translateX(2%);
                }

                @media (max-width: 1023.98px) {
                    left: -6%;
                    transform: translateX(6%);
                }
            }
        }

        &--time {
            position: relative;

            @media (max-width: 767.98px) {
                width: 102px;
                margin-top: 12px;
            }
            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 18px;
                height: 18px;
                top: 1px;
                left: -11%;
                transform: translateX(11%);
                background: url(../img/icon/clock-line-grey.svg);
                background-position: center;
                background-repeat: no-repeat;

                @media (max-width: 1023.98px) {
                    left: -9%;
                    transform: translateX(9%);
                }

                @media (max-width: 767.98px) {
                    left: -21%;
                    transform: translateX(21%);
                }
            }
        }
    }

    // .contacts__phone-wrapper

    &__phone-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 7px;
    }

    // .contacts__phone

    &__phone {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        text-decoration: underline;
    }

    // .contacts__text-wrapper

    &__text-wrapper {
    }

    // .contacts__icon-wrapper

    &__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .contacts__adress

    &__adress {
        margin-top: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;

        @media (max-width: 767.98px) {
            width: 228px;
            margin-bottom: 0px;
        }
    }

    // .contacts__flex-block

    &__flex-block {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1023.98px) {
            flex-direction: column-reverse;
        }
    }


    // .contacts__map-wrapper

    &__map-wrapper {
        margin-top: 101px;
        width: 607px;
        height: 440px;

        @media (max-width: 1359.98px) {
            width: 440px;
        }

        @media (max-width: 1023.98px) {
            width: 100%;
        }

        @media (max-width: 767.98px) {
            margin-top: 51px;
        }

        iframe {
            @media (max-width: 1359.98px) {
                width: 440px;
            }

            @media (max-width: 1023.98px) {
                width: 100%;
            }
        }
    }
}
