.modal2 {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1999;
	background: rgba(33, 33, 33, 0.3);
	backdrop-filter: blur(24px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	transition: opacity var(--transition-time), visibility var(--transition-time);

	&.is-open {
		opacity: 1;
		visibility: visible;
		transition: opacity var(--transition-time), visibility var(--transition-time);
	}

	&__wrapper {
		display: none;
		&.modal-open {
			display: block;
		}
	}

}

.header.js-sticky-header {
	.cabinet-modal {
		top: 70px;
	}
}

.cabinet-modal {
	position: absolute;
	top: 50px;
	right: -15px;

	@media (max-width: 1023.98px) {
		top: 70px;
		right: -24px;
	}

	&__content {
		position: relative;
		width: 212px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;

		&:before {
			@include pseudo;
			top: -9px;
			right: 34px;
			width: 21px;
			height: 20px;
			background-color: #fff;
			transform:rotate(45deg);

			@media (max-width: 1023.98px) {
				right: 54px;
			}
		}
	
	}


	&__button {
		width: 100%;
		min-height: 36px;
		padding: 5px 10px;
		font-weight: 600;
		line-height: 160%;
		text-align: center;
		background-color: #fff;
		border: 1px solid #e0e0e0;
		border-radius: 5px;
		cursor: pointer;

		&:nth-child(1) {
			margin-bottom: 10px;
		}
	}
}