.header.js-sticky-header {
	.cart-modal {
		top: 70px;
	}
}

.cart-modal {
	position: absolute;
	top: 50px;
	right: -37px;

	@media (max-width: 1023.98px) {
		top: 70px;
		right: -3px;
	}

	&__content {
		position: relative;
		width: 212px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;

		&:before {
			@include pseudo;
			top: -9px;
			right: 34px;
			width: 21px;
			height: 20px;
			background-color: #fff;
			transform:rotate(45deg);
		}
	
	}

	// .cart-modal__link
	&__link {
		display: block;
		margin: 16px 0;
		line-height: 140%;
		transition: color 0.3s;

		&:first-child {  margin-top: 0; }
		&:last-child { margin-bottom: 0; }

		&:hover {
			color: #971603;
			text-decoration: underline;
		}
	}

}