.catalog-modal {
	padding: 0 25px;

	// .catalog-modal__content
	&__content {
		width: 100%;
		padding: 0 0 15px 0;
	}

	// .catalog-modal__title-wrapper
	&__title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 12px 0;
		padding: 10px 10px 10px 20px;
		background-color: #fff;
		border-radius: 4px;
	}

	// .catalog-modal__title
	&__title {
		margin: 0 10px 0 0;
		font-weight: 700;
		line-height: 160%;
	}

	// .catalog-modal__close
	&__close {
		position: static !important;
		width: 24px;
		height: 24px;
		background: center/24px 24px url(../img/icon/close-red.svg) no-repeat transparent;
		z-index: 2;

	}

	// .catalog-modal__list
	&__list {
		margin: 0;
		padding: 15px 20px;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
	}

	// .catalog-modal__item
	&__item {
		margin: 17px 0 17px 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	// .catalog-modal__link
	&__link {
		display: flex;
		align-items: center;
		text-align: left;
		line-height: 140%;

		img {
			align-self: flex-start;
			width: 18px;
			height: 18px;
			margin-right: 15px;
		}
	}
}

.header__button-modal-wrapper {
	// display: none;

	.catalog-modal {
		position: absolute;
		top: 60px;
		left: 0;
		width: 280px;
		padding: 0;

		&__link {
			transition: color 0.3s;
			svg {
				align-self: flex-start;
				margin-right: 15px;
			}

			svg path {
				transition: fill 0.3s;
			}

			&:hover {
				color: #961603;
				text-decoration: underline;

				svg path {
					fill: #971603;
				}
			}
		}
	}
}