.comments-modal {
	height: 100%;
	background-color: #fff;

	// .comments-modal__content
	&__content {
		position: relative;
		padding: 24px;
	}

	// .comments-modal__close
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 32px;
		height: 32px;
		background: center/32px 32px url(../img/icon/close-blackgrey.svg) no-repeat transparent;
		z-index: 2;

		@media (max-width: 767.98px) {
			position: fixed;
			top: 15px;
			right: 20px;
		}
	}

	// .comments-modal__stars-wrapper
	&__stars-wrapper {
	}

	// .comments-modal__text
	&__text {
		text-align: left;
		line-height: 22px;
	}

	// .comments-modal__testimonials
	&__testimonials {
	}

	// .comments-modal__form-wrapper
	&__form-wrapper {
	}

	// .comments-modal__form
	&__form {
	}
}

.testimonials {

	// .testimonials__bg-modal
	&__bg-modal {
		padding: 10px 16px;
		border: 1px solid #f2f2f2;
	}

}

.form-comments-modal {

	// .form-comments-modal__form-text
	&__form-text {
		text-align: left;
		line-height: 22px;
	}

	// .form-comments-modal__input
	&__input {
		width: 100%;
		height: 40px;
		padding: 10px 16px;
		border-radius: 2px;
		background-color: #fff;
		border: none;
		border: 1px solid #f2f2f2;
		margin-bottom: 10px;

		&::placeholder {
			line-height: 20px;
			color: #828282;
		}
	}

	// .form-comments-modal__textarea
	&__textarea {
		width: 100%;
		height: 95px;
		resize: none;
		padding: 10px 16px;
		border-radius: 2px;
		background-color: #fff;
		border: none;
		border: 1px solid #f2f2f2;

		&::placeholder {
			line-height: 20px;
			color: #828282;
		}
	}
}

.form-comments-modals {
	// .form-comments-modals__submit
	&__submit {
		margin-top: 40px;
		width: 100%;
		height: 46px;
		border-radius: 4px;
		background-color: #941704;
		box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		border: none;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		text-align: center;
		color: #fff;
	}
}
