.main-video {

	// .main-video__content 
	&__content {
		position: relative;
		width: 57vw;
		height: 0;
		padding-bottom: 32vw;
		border: 5px;

		@media (max-width: 1023.98px) {
			width: 100vw;
			height: 56.25vw;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

	// .main-video__close
	&__close {
		position: absolute;
		top: -35px;
		right: -35px;
		width: 32px;
		height: 32px;
		background: center/24px 24px url(../img/icon/close-white.svg) no-repeat transparent;
		z-index: 2;

		@media (max-width: 1023.98px) {
			top: 10px;
			right: 10px;
		}
	}
}