.nav-modal {
	position: relative;
	height: 100%;
	background-color: #fff;

	// .nav-modal__content
	&__content {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}

	// .nav-modal__close
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 32px;
		height: 32px;
		background: center/32px 32px url(../img/icon/close-blackgrey.svg) no-repeat transparent;
		z-index: 2;

		@media (max-width: 767.98px) {
			position: fixed;
			top: 15px;
			right: 20px;
		}
	}

	// .nav-modal__nav
	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		&:before {
			content: '';
			display: block;
			height: 58px;
		}
	}

	// .nav-modal__list
	&__list {
		list-style: none;
		margin: 0;
		padding: 0 25px;
	}

	// .nav-modal__item
	&__item {
		margin: 7px 0;
	}

	// .nav-modal__link
	&__link {
		display: block;
		padding: 10px 0;
		font-size: 16px;
		line-height: 160%;
		font-weight: 600;
		color: #212121;
		text-transform: uppercase;
	}

	// .nav-modal__call
	&__call {
		margin-bottom: 15px;
		padding: 10px 0;
		line-height: 160%;
		font-weight: 600;
		text-decoration-line: underline;
		color: #212121;
	}
}
