.register-modal {

	@media (max-width: 767.98px) {
		position: relative;
		height: 100%;
		background-color: #fff;
	}

	// .register-modal__content
	&__content {
		position: relative;
		width: 607px;
		padding: 20px 75px 30px 75px;
		background-color: #fff;
		border-radius: 5px;

		@media (max-width: 767.98px) {
			width: 100%;
			padding: 18px 25px;
			border-radius: 0;
		}
	}

	// .register-modal__close
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 32px;
		height: 32px;
		background: center/32px 32px url(../img/icon/close-blackgrey.svg) no-repeat transparent;
		z-index: 2;

		@media (max-width: 767.98px) {
			position: fixed;
			top: 25px;
			right: 15px;
		}
	}

	// .register-modal__title
	&__title {
		margin: 0 0 50px 0;
		font-family: "Vityaz", Arial, Helvetica, sans-serif;
		font-size: 24px;
		line-height: 120%;
		text-align: left;

		span {
			@media (max-width: 767.98px) {
				display: block;
			}
		}

		@media (max-width: 767.98px) {
			font-size: 18px;
			line-height: 120%;
			font-weight: 400;
		}

		&:after {
			@include pseudo;
			top: 68px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #f2f2f2;

			@media (max-width: 767.98px) {
				left: 25px;
				width: calc(100% - 50px);
			}
		}
	}
}

.form-register {

	// .form-register__headline
	&__headline {
		font-weight: 600;
		font-size: 24px;
		line-height: 140%;
		text-align: left;

		@media (max-width: 767.98px) {
			font-size: 18px;
		}
	}

	// .form-register__label
	&__label {
		display: block;
		margin-bottom: 25px;
		font-family: "ProximaNova", Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 160%;
		text-align: start;

		span {
			display: block;
		}
	}

	// .form-register__input
	&__input {
		width: 100%;
		min-height: 40px;
		padding: 5px 10px;
		border: 1px solid #f2f2f2;
		border-radius: 2px;
	}

	// .form-register__submit-button
	&__submit-button {
		width: 100%;
		min-height: 46px;
		margin: 0 0 25px 0;
		padding: 5px 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 160%;
		color: #fff;
		background: #941704;
		box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s, box-shadow 0.3s;

		&:hover {
			background-color: #ad1b05;
			box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
		}

		@media (max-width: 767.98px) {
			margin-bottom: 20px;
		}
	}

	// .form-register__register
	&__register {
		font-family: inherit;
		font-size: 16px;
		line-height: 160%;
		text-decoration: underline;
	}

	// .form-register__agreement
	&__agreement {
		line-height: 160%;
		text-align: center;
		color: #212121;

		a {
			color: inherit;
			text-decoration: underline;
		}
	}

}
