.advantages {
	margin-top: 100px;

	@media (max-width: 767.98px) {
		margin-top: 55px;
	}

	// .container {
	//     @media (max-width: 767.98px) {
	//         padding: 0 26px;
	//     }
	// }

	// .advantages__title

	&__title {
		position: relative;
		font-family: "Vityaz";
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: center;

		@media (max-width: 1359.98px) {
			font-size: 33px;
			line-height: 39px;
		}

		@media (max-width: 767.98px) {
			font-size: 25px;
			line-height: 30px;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -33px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -2px;
			background-size: contain;
			background-repeat: repeat-x;

			@media (max-width: 767.98px) {
				bottom: -26px;
			}
		}
	}

	// .advantages__list
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin: 70px -5px 60px -5px;
		padding-left: 0;

		@media (max-width: 1359.98px) {
			margin-bottom: 40px;
		}

		@media (max-width: 1023.98px) {
			flex-wrap: wrap;
		}

		@media (max-width: 767.98px) {
			margin: 50px 0 22px 0;
		}
	}

	// .advantages__item
	&__item {
		flex: 0 0 25%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 5px;

		@media (max-width: 1023.98px) {
			flex: 0 0 50%;
			flex-wrap: wrap;
			padding: 20px;
		}

		@media (max-width: 767.98px) {
			flex: 0 0 100%;
			padding: 8px 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	// .advantages__image-wrapper
	&__image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 96px;
		height: 96px;
		border-radius: 50%;
		background-color: #f2f2f2;

		@media (max-width: 767.98px) {
			flex: 0 0 64px;
			width: 64px;
			height: 64px;
			margin-right: 17px;
		}
	}

	// .advantages__image
	&__image {
		max-width: 48px;
		max-height: 48px;
		object-fit: contain;

		@media (max-width: 767.98px) {
			// width: 32px;
			// height: 32px;
			transform: scale(0.667);
		}
	}

	// .advantages__text
	&__text {
		margin: 18px 0 10px 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		text-align: center;

		@media (max-width: 1359.98px) {
			font-size: 13px;
			line-height: 20px;
		}

		@media (max-width: 767.98px) {
			flex: 1 0 calc(100% - 84px);
			margin: 0;
			font-size: 16px;
			line-height: 26px;
			text-align: left;
		}
	}
}
