.knowledge {
	// .knowledge__title
	&__title {
		position: relative;
		margin: 30px 0 10px 0;
		font-family: "Vityaz";
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		text-align: center;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -2px;
			background-size: contain;
			background-repeat: repeat-x;
			transform: translateX(-50%);
		}

		@media (max-width: 767.8px) {
			font-size: 25px;
			line-height: 120%;
		}
	}

	// .knowledge__all-container
	&__all-container {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 15px;

		@media (max-width: 767.98px) {
			margin-bottom: 25px;
		}
	}

	// .knowledge__all-link
	&__all-link {
		display: inline-block;
		position: relative;
		padding-left: 60px;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 600;
		color: #212121;
		transition: color 0.3s;

		&:before {
			@include pseudo;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 40px;
			height: 11px;
			background: url(../img/icon/arrow-red.svg) no-repeat left top;
		}

		&:hover {
			color: #941704;
		}
	}

	// .knowledge__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		margin: 30px 0;
		padding: 0;

		@media (max-width: 1023.98px) {
			margin: 0 -20px;
		}
	}

	// .knowledge__item
	&__item {
		min-width: 0;
		flex: 0 0 25%;
		padding: 21px;

		@media (max-width: 1359.98px) {
			flex: 0 0 33.333%;
		}

		@media (max-width: 1023.98px) {
			padding: 15px;
		}
	}

	.line-delimeter {
		order: 5;
	}
} /* .knowledge */

.article-knowledge {
	position: relative;
	height: 100%;
	padding: 20px;
	background-color: #fff;
	border-radius: 4px;
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
	}

	@media (max-width: 1023.98px) {
		padding: 10px;
	}

	// .article-knowledge__image-wrapper
	&__image-wrapper {
		height: 240px;
		border-radius: 4px;

		@media (max-width: 1023.98px) {
			height: 198px;
		}
	}

	// .article-knowledge__image
	&__image {
		// display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		object-fit: cover;
	}

	// .article-knowledge__title
	&__title {
		margin: 24px 0 10px 0;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 600;
		color: #212121;

		@media (min-width: 767.98px) {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	// .article-knowledge__text
	&__text {
		margin: 10px 0 0 0;
		font-size: 14px;
		line-height: 1.4;
		font-weight: 300;
		color: #828282;

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;

		@media (min-width: 768px) {
			-webkit-line-clamp: 4;
		}
	}

	// .article-knowledge__link
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.main-page {
	.knowledge__list {
		@media (max-width: 767.98px) {
			margin-bottom: 25px;
		}
	}
}

.page-knowledge {
	// .knowledge__list
	.knowledge__list {
		margin-bottom: 0;

		@media (max-width: 767.98px) {
			display: block;
		}
	}

	// .knowledge__item
	.knowledge__item {
		@media (max-width: 767.98px) {
			margin-bottom: 25px;
		}
	}
}

.article {
	.knowledge {
		margin: 90px 0 169px 0;

		@media (max-width: 767.98px) {
			margin: 36px 0 40px 0;
		}

		.knowledge__list {
			margin: 50px -41px 35px -41px;

			@media (max-width: 767.98px) {
				margin: 0 0 25px 0;
			}
		}
	}
}

.page-card-product {
	.knowledge {
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		margin-top: 60px;

		@media (max-width: 767.98px) {
			margin-top: 8px;
			padding-bottom: 25px;
		}

		// .knowledge__title
		&__title {
			@media (max-width: 767.98px) {
				margin: 12px 0 60px 0;
				font-size: 24px;
			}
		}

		// .knowledge__list
		&__list {
			@media (max-width: 767.98px) {
				margin: 0 0 25px 0;
			}
		}
	}

	.article-knowledge {
		// .article-knowledge__title
		&__title {
			@media (max-width: 767.98px) {
				margin: 22px 0 0 0;
			}
		}

		// .article-knowledge__text
		&__text {
			@media (max-width: 767.98px) {
				margin: 0;
			}
		}
	}
}
