.main-slider {
	margin: 64px 0 140px 0;

	@media (max-width: 1023.98px) {
		margin: 40px 0 60px 0;
	}

	@media (max-width: 767.98px) {
		margin: 10px 0 60px 0;
	}

	// .main-slider__flex-wrapper
	&__flex-wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1023.98px) {
			flex-direction: column;
		}
	}

	// .main-slider__big-slider-wrapper
	&__big-slider-wrapper {
		min-width: 0;
		flex: 0 0 568px;

		@media (max-width: 1359.98px) {
			flex: 0 0 500px;
		}

		@media (max-width: 1023.98px) {
			width: 100%;
			flex-basis: auto;
		}
	}

	// .main-slider__content-wrapper
	&__content-wrapper {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		min-width: 0;
		margin-left: 70px;

		@media (max-width: 1359.98px) {
			margin-left: 15px;
		}

		@media (max-width: 1023.98px) {
			display: flex;
			flex-direction: column;
			margin-left: 0;
			padding: 0;
		}
	}

	// .main-slider__min-slider-wrapper
	&__min-slider-wrapper {
		width: 100%;

		@media (max-width: 1023.98px) { display: none; }
	}

	// .main-slider__min
	&__min {
		margin: 0;


		@media (max-width: 1359.98px) {
			margin: 0 -5px;
		}

	}

	// .main-slider__min-image-wrapper
	&__min-image-wrapper {
		margin: 0;
		width: 100%;
		height: 200px;
		cursor: pointer;

		@media (max-width: 1359.98px) {
			height: 145px;
		}

		@media (max-width: 1023.98px) {
			height: 50vh;
		}

		@media (max-width: 767.98px) {
			height: 380px;
		}
	}

	// .main-slider__min-image
	&__min-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 4px;
	}

	// .main-slider__slide-content
	&__slide-content {
		@media (max-width: 1023.98px) {
			order: 2;
		}
	}

	// .main-slider__controls-wrapper
	&__controls-wrapper {
		display: flex;
		justify-content: space-between;
		margin: auto 0 0 0;
		padding-top: 20px;

		@media (max-width: 1023.98px) {
			display: block;
			margin: 16px 0 6px 0;
			order: 1;
		}

		&:before {
			content: "";
			display: block;
			width: 84px;

			@media (max-width: 1359.98px) {
				width: 74px;
			}

			@media (max-width: 1023.98px) {
				display: none;
			}
		}

		.swiper-pagination-bullets {
			order: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
		}

		.swiper-pagination-bullet {
			display: flex;
			margin: 0 12px;
			padding: 0;
			font-size: 0;
			width: 12px;
			height: 12px;
			color: transparent;
			text-shadow: none;
			background-color: #e0e0e0;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			transition: background-color 0.3s;

			@media (max-width: 767.98px) {
				width: 8px;
				height: 8px;
				margin: 0 6px;
			}

			&:hover {
				background-color: #971603;
			}
		}

		.swiper-pagination-bullet-active {
			background-color: #212121;
		}
	}

	// .main-slider__min-arrows-wrapper
	&__min-arrows-wrapper {
		display: flex;
		align-items: center;
		order: 2;

		@media (max-width: 1023.98px) {
			display: none;
		}

		.slider-arrow {
			width: 32px;
			height: 32px;
			color: transparent;
			background-color: transparent;
			margin: 0;
			padding: 0;
			border: none;
			font-size: 0;
			cursor: pointer;

			svg {
				width: 32px;
				height: 16px;

				path {
					transition: fill 0.3s;
				}
			}


			&:hover {
				svg path {
					fill: #971603;
				}
			}

			@media (max-width: 1359.98px) {
				svg {
					width: 25px;
					height: 14px;
				}
			}


			&--prev {
				@media (max-width: 1359.98px) {
					svg {
						width: 25px;
						height: 14px;
					}
				}
			}

			&--next {
				margin-left: 20px;

				@media (max-width: 1359.98px) {
					margin-left: 10px;
				}
			}
		}
	}

}

.page-about-us {
	.main-slider {
		margin: 44px 0 55px 0;

		@media (max-width: 767.98px) {
			margin: 15px 0 0px 0;
		}

		// .main-slider__content
		&__content-wrapper {
			@media (max-width: 1023.98px) {
				flex-direction: column-reverse;
			}
		}

		// .main-slider__controls-wrapper
		&__controls-wrapper {

			@media (max-width: 1023.98px) {
				order: 0;
			}

			@media (max-width: 767.98px) {
				padding: 0;
			}
		}
	}

}
