.natural {
	margin-top: 70px;
	padding: 0 20px;
	background-image: url(../img/image/cedar-oil2.png), url(../img/image/cedar2.png);
	background-size: 309px 232px, 273px 372px;
	background-position: calc(50% - 523px) 84px, calc(50% + 495px) -40px;
	background-repeat: no-repeat, no-repeat;

	@media (max-width: 1359.98px) {
		margin-top: 50px;
		background-size: 221px 166px, 211px 287px;
		background-position: calc(50% - 355px) 105px, calc(50% + 362px) -5px;
	}

	@media (max-width: 1023.98px) {
		background-image: none;
	}

	@media (max-width: 767.98px) {
		display: none;
	}

	// .natural__title
	&__title {
		position: relative;
		font-family: "Vityaz";
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: center;

		@media (max-width: 1359.98px) {
			font-size: 33px;
			line-height: 39px;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -1px;
			background-size: contain;
			background-repeat: repeat-x;
		}
	}

	// .natural__flex-wrapper
	&__flex-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 55px;

		@media (max-width: 1023.98px) {
			margin-bottom: 40px;
		}
	}

	// .natural__text

	&__text {
		width: 620px;
		margin-top: 45px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: center;

		@media (max-width: 1359.98px) {
			width: 450px;
			font-size: 13px;
			line-height: 20px;
		}
	}
}
