.our-products {
	margin-top: 70px;

	@media (max-width: 1359.98px) {
		margin-top: 50px;
	}

	@media (max-width: 767.98px) {
		margin-top: 25px;
	}

	// .our-products__title
	&__title {
		position: relative;
		font-family: "Vityaz";
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: center;

		@media (max-width: 1359.98px) {
			font-size: 33px;
			line-height: 39px;
		}

		@media (max-width: 767.98px) {
			font-size: 25px;
			line-height: 30px;

			&::after {
				bottom: -26px;
			}
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -1px;
			background-size: contain;
			background-repeat: repeat-x;
		}
	}

	// .our-products__flex-wrapper
	&__flex-wrapper {
		margin-bottom: 60px;

		@media (max-width: 1359.98px) {
			margin-bottom: 60px;
		}

		@media (max-width: 1023.98px) {
			margin-bottom: 35px;
		}

		@media (max-width: 767.98px) {
			width: 100%;
			margin: 50px 0 25px 0;
		}
	}

	// .our-products__list
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 55px 0 0 0;
		padding: 0;

		@media (max-width: 1359.98px) {
			justify-content: center;
		}

		@media (max-width: 767.98px) {
			flex-wrap: nowrap;
			justify-content: flex-start;
			height: 92.5vw;
			margin: 0 0 25px 0;
		}
	}

	// .our-products__item
	&__item {
		flex: 0 0 33.333%;
		padding: 15px 0;
		transition: filter 0.3s;

		&:hover {
			filter: drop-shadow(0px 10px 30px rgba(33, 33, 33, 0.16));
		}

		@media (max-width: 1359.98px) {
			padding: 10px 12px;
		}

		@media (max-width: 767.98px) {
			flex: 0 0 auto;
			// height: 43.75vw;
			height: calc((100% - 15px) / 2);
			padding: 0;
		}

	}

	// .our-products__link
	&__link {
		display: block;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	// .our-products__body
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: relative;

		width: 392px;
		height: 300px;
		padding: 50px 20px 20px 20px;
		background-size: cover;
		transition: box-shadow 0.3s;

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&:hover {
			box-shadow:  0px 10px 30px rgba(33, 33, 33, 0.16);
		}

		@media (max-width: 767.98px) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			padding: 8px 12px 6px 12px;
			min-height: 140px;
			width: auto;
			height: 100%;
			background-position: 50% bottom;
			background-size: 150%;
		}
	}

	// .our-products__image-wrapper
	&__image-wrapper {
		height: 170px;
		margin-bottom: 23px;

		@media (max-width: 767.98px) {
			flex: 0 0 80px;
			height: 80px;
			margin: 0;
		}
	}

	// .our-products__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	// .our-products__text
	&__text {
		display: flex;
		align-items: center;
		margin: 0 0 10px 0;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: center;

		@media (max-width: 1359.98px) {
			font-size: 13px;
			line-height: 20px;
		}

		@media (max-width: 767.98px) {
			height: 43px;
			margin: 0;
			line-height: 1.1;
		}
	}
}
