.top-bar {
	position: relative;
	// display: flex;
	// flex-direction: column;

	&__background {
		position: absolute;
		bottom: 0;
		left: calc(50% - 200px);
		width: calc(50% + 200px);
		height: 100%;
		background-image: url(../img/image/main-oil.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 2;

		@media (max-width: 1023.98px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 65vw;
			z-index: 0;
		}

		@media (max-width: 767.98px) {
			height: 50vw;
		}
	}

	// .top-bar__info
	&__info {
		padding: 124px 0 98px 0;
		width: 400px;

		@media (max-width: 1359.98px) {
			width: 270px;
		}

		@media (max-width: 1023.98px) {
			padding: 65vw 0 0 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 767.98px) {
			padding: 50vw 0 0 0;
			align-items: flex-start;
		}
	}

	// .top-bar__title
	&__title {
		margin-bottom: 33px;
		font-family: "Vityaz";
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		line-height: 67px;
		letter-spacing: -0.8px;

		@media (max-width: 1359.98px) {
			font-size: 40px;
			line-height: 50px;
		}

		@media (max-width: 767.98px) {
			font-size: 25px;
			font-weight: 400;
			line-height: 30px;
			text-align: left;
			margin-bottom: 7px;
		}
	}

	// .top-bar__red

	&__red {
		color: #971603;
	}

	// .top-bar__list
	&__list {
		margin-bottom: 55px;
		padding: 0 0 0 25px;
		list-style: none;

		@media (max-width: 767.98px) {
			margin-bottom: 21px;
		}
	}

	// .top-bar__item
	&__item {
		font-size: 18px;
		line-height: 44px;
		position: relative;

		@media (max-width: 1359.98px) {
			font-size: 15px;
			line-height: 33px;
		}

		@media (max-width: 767.98px) {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0em;
			text-align: left;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -30px;
			width: 24px;
			height: 24px;
			background-image: url(../img/icon/romb-red.svg);
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	// .top-bar__button-flex

	&__button-flex {
		display: flex;
	}

	// .top-bar__show-product
	&__show-product {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		width: 260px;
		min-height: 46px;
		margin-right: 37px;
		padding: 5px 10px 5px 58px;

		// background-color: #941704;
		// box-shadow: 0px 10px 30px rgba(148, 23, 4, 0.3);

		background-color: #fff;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);

		border-radius: 4px;
		border: none;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: 0em;
		color: #212121;
		transition: box-shadow 0.3s;

		@media (max-width: 1359.98px) {
			width: 188px;
			margin-right: 13px;
			padding: 5px 10px;
			font-size: 13px;
			line-height: 20px;
		}

		@media (max-width: 767.98px) {
			width: 208px;
			font-size: 16px;
			font-weight: 600;
			line-height: 26px;
			text-align: center;
			padding-left: 5px;
		}

		&:hover {
		// 	background-color: #ad1b05;
		// 	box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
			box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.22);
		}

		&::before {
			@include pseudo;
			top: 50%;
			left: 23px;
			transform: translateY(-50%);
			width: 35px;
			height: 12px;
			background: 0 0/34.48px 11px url(../img/icon/arrow-black.svg) no-repeat;

			@media (max-width: 1359.98px) {
				display: none;
			}

		}
	}

	// .top-bar__video-play
	&__video-play {
		width: 50px;
		height: 50px;
		padding: 0;
		background: 0 0/50px 50px url(../img/icon/button-play-border.svg) no-repeat transparent;
		border: none;
		cursor: pointer;
		border-radius: 50%;

		&:hover {
			background: 0 0/50px 50px url(../img/icon/button-play-red.svg) no-repeat;
			box-shadow: 0px 20px 40px rgba(148, 23, 4, 0.4);
			transition: all 0.3s;
		}
	}
}
