.about-us {
	// .about-us__wrapper

	&__wrapper {
		@media (max-width: 767.98px) {
			margin-top: 48px;
		}
	}

	// .about-us__title

	&__title {
		font-family: "Vityaz";
		font-size: 36px;
		font-weight: 400;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: center;
		margin-bottom: 0;

		@media (max-width: 767.98px) {
			font-size: 25px;
			line-height: 30px;
		}
	}

	// .about-us__headline

	&__headline {
		position: relative;
		margin-top: 8px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: center;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -33px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -1px;
			background-size: contain;
			background-repeat: repeat-x;

			@media (max-width: 767.98px) {
				bottom: -26px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	// .about-us__content-wrap

	&__content-wrap {
		margin-top: 73px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (max-width: 767.98px) {
			margin-top: 55px;
		}
	}

	// .about-us__bg

	&__bg {
		background: center/cover url(../img/image/about-us-oil-bg.jpg) no-repeat;
		width: 816px;
		height: 344px;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			height: 48.125vw;
		}
	}

	// .about-us__text-wrapper

	&__text-wrapper {
		margin-top: 30px;
		width: 822px;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			margin-top: 16px;
		}
	}

	// .about-us__title-info

	&__title-info {
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;
		letter-spacing: 0em;

		@media (max-width: 767.98px) {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 0;
		}
	}

	// .about-us__text

	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;

		@media (max-width: 767.98px) {
			font-size: 14px;
			line-height: 22px;
			margin-top: 11px;
		}
	}
}
