.history {
    width: 822px;
    margin: 60px auto 0 auto;

    @media (max-width: 1023.98px) {
        width: 100%;
    }

    @media (max-width: 767.98px) {
        margin: 30px auto 0 auto;
    }

    // .history__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }

    // .history__text

    &__text {
        margin: 20px 0 30px 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;

        @media (max-width: 767.98px) {
            font-size: 14px;
            line-height: 22px;
            margin: 0 0 21px 0;
        }
    }
}
