.product-about-us {
	// .product-about-us__wrapper

	&__wrapper {
		width: 822px;
		margin: 30px auto 0 auto;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			margin: 3px auto 0 auto;
		}
	}

	// .product-about-us__text

	&__text {
		margin: 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;

		@media (max-width: 767.98px) {
			font-size: 14px;
			line-height: 22px;
		}
	}

	// .product-about-us__flex

	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;

		@media (max-width: 767.98px) {
			margin: 17px 0 20px 0;
		}
	}

	// .product-about-us__icon-wrapper

	&__icon-wrapper {
		margin-right: 56px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 96px;
		height: 96px;
		border-radius: 50%;
		background-color: #f2f2f2;

		@media (max-width: 767.98px) {
			width: 64px;
			height: 64px;
			margin-right: 16px;
		}
	}

	// .product-about-us__icon

	&__icon {
		max-width: 48px;
		max-height: 48px;
		object-fit: contain;

		@media (max-width: 767.98px) {
			max-width: 32px;
			max-height: 32px;
		}
	}

	// .product-about-us__bg

	&__bg {
		margin-top: 49px;
		background: center/cover url(../img/image/about-us-oil-bg.jpg) no-repeat;
		width: 816px;
		height: 344px;

		@media (max-width: 1023.98px) {
			width: 100%;
		}

		@media (max-width: 767.98px) {
			height: 48.125vw;
			margin-top: 40px;
		}
	}
}
