.requisites {
    width: 830px;
    min-height: 232px;
    margin: 50px auto 140px auto;
    padding: 24px 37px;
    background-color: #f2f2f2;

    @media (max-width: 1023.98px) {
        width: 100%;
    }

    @media (max-width: 767.98px)  {
        margin: 30px auto 50px auto;
        padding: 27px 20px 20px 31px;
    }

    // .requisites__title

    &__title {
        margin: 0;
        font-family: "Vityaz";
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0em;

        span {
            display: block;

            @media (max-width: 767.98px) {
                display: inline;
            }
        }

        @media (max-width: 767.98px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    // .requisites__list

    &__list {
        padding: 0;

        @media (max-width: 767.98px) {
            margin-top: 30px;
        }
    }

    // .requisites__item

    &__item {
        p {
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;

            @media (max-width: 767.98px) {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}
