.description-products {
	margin-top: 70px;

	@media (max-width: 1023.98px) {
		margin-top: 60px;
	}

	// .description-products__title
	&__title {
		position: relative;
		margin: 30px 0 10px 0;
		font-family: "Vityaz";
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		letter-spacing: 0;

		@media (max-width: 1023.98px) {
			text-align: center;
		}

		@media (max-width: 767.8px) {
			margin: 10px 0;
			font-size: 25px;
			line-height: 120%;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 10px;
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -2px;
			background-size: contain;
			background-repeat: repeat-x;

			@media (max-width: 1023.98px) {
				left: 50%;
				transform: translateX(-50%);
			}
		}

	}

	// .description-products__text
	&__text {
		margin-top: 65px;

		p {
			margin: 30px 0;
			font-size: 16px;
			line-height: 160%;
		}
	}
}
