.products {
	margin-bottom: 120px;

	@media (max-width: 1023.98px) {
		margin-bottom: 60px;
	}

	// .products__title
	&__title {
		position: relative;
		margin: 30px 0 10px 0;
		font-family: "Vityaz";
		font-size: 36px;
		line-height: 43px;
		font-weight: 400;
		letter-spacing: 0;
		text-align: center;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -31px;
			left: 50%;
			width: 156px;
			height: 17px;
			background-image: url(../img/icon/advent-ornament.svg);
			background-position: -2px;
			background-size: contain;
			background-repeat: repeat-x;
			transform: translateX(-50%);
		}

		@media (max-width: 767.8px) {
			margin: 10px 0;
			font-size: 25px;
			line-height: 120%;
		}
	}

	// .products__main-wrapper
	&__main-wrapper {
		display: flex;
		justify-content: space-between;
		position: relative;

		@media (max-width: 1023.98px) {
			position: static;
		}

		&:before {
			@include pseudo;
			top: 80px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #F2F2F2;

			@media (max-width: 1023.98px) {
				display: none;
			}
		}

		@media (max-width: 1023.98px) {
			flex-direction: column;
		}
	}

	// .products__filters
	&__filters {
		flex: 0 0 288px;
	}

	// .products__catalog
	&__catalog {
		flex: 0 1 100%;
	}
}


.page-catalog .products {

	// .product__filters
	&__filters {
		@media (max-width: 1359.98px) {
			flex: 0 0 220px;
		}
	}

}