.scroll-list {
	height: 135px;
	padding-top: 10px;

	// .scroll-list__list
	&__list {
		width: 100%;
		height: calc(100% - 29px);
		margin: 0;
		padding: 0;
	}

	// .scroll-list__item
	&__item {
		display: inline-flex;
		flex-direction: column;
		position: relative;
		width: 100px;
		height: 84px;
		margin: 0;
		padding: 5px;
		text-align: center;
		white-space: normal;
		background-color: #fff;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
		border-radius: 4px;

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:hover {
			svg path {
				fill: #971603;
			}
		}
	}

	// .scroll-list__image-wrapper
	&__image-wrapper {
		width: 18px;
		height: 18px;
		margin: 10px auto 5px auto;

		svg path {
			fill: #e0e0e0;
		}
	}

	// .scroll-list__title
	&__title {
		margin: 6px 0 0 0;
		font-size: 12px;
		line-height: 12px;
		font-weight: 400;
	}
}

